[2018-12-31 20:01] AmandaEyer opened #1 "Update code status field"
There is an issue where the value in status field does not always correspond to status a through x. For instance, there are several jobs that have reached a status x date, but the status field value is "permit issued" or "withdrawn".

[2018-12-31 20:03] AmandaEyer opened #2 "For A1 jobs, make changes to unit_net_complete and incomplete calculation"
This is more of a mental note right now, but the units_net_complete and units_net_incomplete fields don't really work for Alteration jobs. The CO unit change data is all over the place for these jobs and not helpful in doing analysis. We already made changes so that where unit_prop=unit_existing, no CO data would appear. We should consider something similar for all Alterations.

[2019-01-14 18:17] AmandaDoyle commented on #4
Corrected by selecting the last 4 digits for a tax lot

[2019-01-14 18:25] AmandaDoyle opened #7 "Update how DCP status of complete is calculated"
@AmandaEyer will wait for your logic on how to update how a DCP status of complete is generated (i.e. more logic than just taking the value from the DOB status field)

[2019-01-22 19:51] AmandaEyer commented on #7
Bill is doing a little bit more research, preliminarily we are proposing this.

Possible values for DCP_Status:

filed
in progress
in progress (last plan disapproved)
permit issued
complete
suspended
withdrawn

The following logic should be implemented for DCP_Status: Pulling mainly from job_status field in DOB Job Application Filings (OpenData)

"Filed" where job_status is A thru F (no lower than

[2019-01-22 19:55] #1 closed

[2019-01-22 20:04] AmandaEyer opened #8 "Clean up jobs involving hotels"
to include corrections from dcp_attributes
 Where jobnumber matches job in dcp_attributes and there IS a value in units_prop_res, then replace u_prop with value in units_prop_res

Copy pasting old issue

THE FOLLOWING UPDATES I AM STILL THINKING THROUGH

To reflect the loss of residential units when multiple dwellings are converted into hotels (but only for alterations resulting in a significant i

[2019-01-23 18:36] AmandaDoyle commented on #5
repaced `occ_init <> 'Garage/Miscellaneous'` with `occ_init IS DISTINCT FROM 'Garage/Miscellaneous'`

[2019-01-23 19:58] BillS85 opened #9 "J-0 Classified in dcp_occ_category Other"
Amanada,
I notice that there are  724 records that had been  defined as Other that  have a DOB proposed use of J-0  with a proposed unit count > 0.  These records should be residential. I am researching an additional one hundred fourty-four records that have units counts but classified as Other. Some of these might be mixed use and cold be classified as Residential to capture the unit counts.

[2019-01-23 20:23] AmandaDoyle commented on #3
Updating geomdcp.sql so that it takes that lat/long coords first as long as the coordinates are valid, and then it will take the geometry string

[2019-01-23 20:44] BillS85 commented on #9
Hi Amanda,
Thanks for quick response. I would delete the blank J-0 record and leave the J-0  that identifies as residential.

[2019-01-23 21:37] AmandaDoyle commented on #7
@AmandaEyer so do you no longer want to use this lookup table?  Or build use the lookup table and then overwrite values with more logic (i.e. "where a TCO or FCO has been issued (based on CO data input")?

[2019-01-23 21:45] AmandaEyer commented on #7
I think the latter but I am not sure I understand correctly. What lookup table would we no longer be using?

[2019-01-23 21:52] AmandaDoyle commented on #7
Sorry - Meant to provide the link
https://github.com/NYCPlanning/db-developments/blob/master/developments_build/data/housing_input_lookup_status.csv

^ That lookup table
@AmandaEyer

[2019-01-23 22:00] AmandaEyer commented on #7
Oh, I forgot about this lookup table. I can edit it a little based on what we proposed above, but I realize now that it means we need a slightly different approach. The problem is that status_dates and dcp_status don't always align. For instance, a permit has a status q issue date, but dcp_status still states "job filed" even though it should state "permit issued". What do you think is the best ap

[2019-01-23 22:09] AmandaDoyle commented on #7
@AmandaEyer I say we edit the lookup table.  The first pass will be to assign the status value based on the lookup table.  There will be another pass that will implement the logic that looks at other attributes i.e. if TCO or FCO has been issued and will overwrite the initial value based on the other criteria

[2019-01-23 22:17] AmandaEyer commented on #7
Okay I edited the lookup table. I am not sure what we had in mind with some of those values last time. Oh dear. In any case, we still need to work on the overwrite portion.

I got to head out but will pick up tomorrow.

[2019-01-23 22:37] AmandaDoyle commented on #9
removed extra J-0 value from housing_input_lookup_occupancy.csv

[2019-01-23 22:37] #9 closed

[2019-01-23 22:45] AmandaDoyle commented on #7
Sounds good.  Tomorrow if you could submit a pull request or email me the table so that I can integrate the changes you made to housing_input_lookup_status.csv that'd be great.

Then, if we need to add more to the status.sql script beyond what's there and checking for the CO data input we will.

I have questions about what the SPECIAL_ACTION_STATUS field is

Thanks!

[2019-01-23 23:08] AmandaDoyle commented on #8
adding units_hotels.sql <-- @AmandaEyer you need to let me know if you want to implement / edit this.  It captures everything after "THE FOLLOWING UPDATES I AM STILL THINKING THROUGH"

We're already doing the first part in dcpattributes.sql
`UPDATE developments a
SET units_prop = TRIM(b.units_prop_res),
	x_dcpedited = TRUE
FROM housing_input_dcpattributes b
WHERE b.units_prop_res ~ '[0-9]'
	AND b.

[2019-01-24 14:51] AmandaEyer commented on #7
I sent the pull request.
In the last version, you created the x_withdraw flag field based on SPECIAL_ACTION_STATUS. I would now recommend incorporating that flag into the DCP_Status field instead of having it as a separate field. Does that clarify? give me a call if you want.

[2019-01-24 14:53] AmandaEyer commented on #6
Please add to this list:
jobs with same job type AND same address (i.e. flag if there are two NB jobs at same address)

[2019-01-24 15:04] AmandaDoyle opened #11 "Remove x_duplicate flag"

[2019-01-24 15:09] AmandaDoyle commented on #7
if there is a date in status Q set to Permit Issued

[2019-01-24 15:09] AmandaDoyle commented on #7
If there is a date in status P set to In Progress

[2019-01-24 15:31] AmandaDoyle commented on #11
removed x_duplicate from build.sh and the fields x_dup_flag text, x_dup_id text, from create.sql

[2019-01-24 15:31] #11 closed

[2019-01-24 20:27] AmandaDoyle opened #12 "Add geo_council district as a field"
to fix filtering issue in the capital planning platform

[2019-01-24 21:12] AmandaDoyle commented on #6
@AmandaEyer when we met you mentioned getting a count of the number of records flagged as Hotel / Residential - what exactly did you mean by this.  The only occ_init or occ_prop category with "hotel" is "Hotel or Dormitory"

[2019-01-28 15:32] AmandaDoyle commented on #12
Added geo_council

[2019-01-28 15:32] #12 closed

[2019-01-28 15:54] AmandaEyer commented on #6
I meant flag the number of records where:
occ_init is Residential% and occ_prop is Hotel or Dormitory
occ_prop is Hotel or Dormitory and occ_prop is Residential%

[2019-01-28 15:55] AmandaEyer commented on #6
Also, looking at the summary stats, this flag doesn't appear to be working:
"number of alterations that result in a gain or loss of 100 or more units"

It's flagging over 30,000 records which I believe is all alterations, not only those that result in a gain or loss of 100 or more units

[2019-01-28 16:12] AmandaEyer opened #13 "add records to qc_occupancyresearch output"
Add records to qc_outlier.sql  where:
occ_prop is 'Assembly: Other' and occ_category: 'Other'

Currently, only occ_category: Residential is included, which is too limited.

[2019-01-28 16:35] AmandaEyer opened #14 "modify occ_.sql to include NB garages"
Current code in  occ_.sql contains the following:

72 -- Set occ_init = 'Garage/Miscellaneous' AND occ_prop = 'Garage/Miscellaneous'
73 -- Where job_type is Demolition or Alteration
74 -- AND address contains REAR or where job_description contains GARAGE

Please ADD to this:

Where job_type is NB   AND
job_description contains '%GARAGE%' and does NOT contain any of the following: %Res%, %Dwell%, %

[2019-01-28 16:45] AmandaEyer opened #15 "export.sql isn't implemented"
I think?

[2019-01-28 17:00] AmandaEyer opened #16 "Populate co_earliest_effectivedate and co_latest_effectivedate with values for DM jobs"
for DM jobs, the fields co_earliest_effectivedate and co_latest_effectivedate are currently blank.
Please populate those with values, pulling in the value (date) of status X. If status X is blank, pull in value from Status_R or Status_Q (dates).

[2019-01-28 17:51] AmandaDoyle commented on #16
@AmandaEyer Are you sure?  co_XYZ_effectivedate are clearly for the earliest and latest COs issued.  DM's are not issued COs so populating these fields with data from other fields may convolute the data.  I can easily implement this logic but want to make sure that there is buy in from @mqli322 and Kristina and other key users

[2019-01-28 17:57] AmandaDoyle commented on #15
What makes you say that?  There are ~65k records in devdb_housing.csv (with new data), which is a subset of the data based on export.sql.  I edited the query to extend to 12/31/2018
There are 228,777 in the entire developments database.

[2019-01-28 18:19] AmandaEyer commented on #15
You're right, I was confused!

[2019-01-28 18:19] #15 closed

[2019-01-28 18:25] AmandaEyer commented on #16
![capture](https://user-images.githubusercontent.com/39066142/51857292-d827c280-22ff-11e9-9694-a54ba23caedf.JPG)
![capture2](https://user-images.githubusercontent.com/39066142/51857293-d8c05900-22ff-11e9-8be5-8f924bc5b109.JPG)

The reason I say so is because having a date value for all job types in the CO fields makes for a quick and easy overview pivot (see attached). Without a date, that summary

[2019-01-28 19:55] AmandaEyer commented on #7
This worked! There are only these exceptions (not sure what is going on)
 For the following jobs, status says "permit issued" but no status_p or q date?
121191995
321478575
320909772
321195979
220063446
320978064

[2019-01-28 20:22] AmandaEyer commented on #2
Having thought about this, Bill and I agree that we want to leave the two fields units_complete and units_incomplete BLANK for alterations. It doesn't add value. Having the CO dates and status dates and units_net is what matters.
@mqli322 do you agree?

[2019-01-28 22:52] AmandaDoyle commented on #16
okay going to close

[2019-01-28 22:52] #16 closed

[2019-01-29 16:33] AmandaDoyle commented on #14
Added logic to occ_ to SET occ_prop = 'Garage/Miscellaneous' for NBs

[2019-01-29 16:33] #14 closed

[2019-01-29 16:39] AmandaDoyle commented on #13
@AmandaEyer added logic to QC_.sql where the dev_qc_occupancyresearch research table is created and changed the table that is being QCed from housing_export to dev_export

[2019-01-29 16:39] #13 closed

[2019-01-30 16:32] AmandaEyer opened #18 "Occ_category issue"
If occ_init or occ_prop is changed by dcp_values, that change is not reflected in the occ_category field.  So if occ_prop in the original data is "hotel" and we overwrite is as "residential", the record still gets classified as "Other" and is not classified in the "residential" occ_category, as it should be.

[2019-01-30 18:15] AmandaEyer opened #23 "units_net_complete from dcp_attributes"
units_net_complete from dcp_attributes is not being pulled in

[2019-01-30 18:20] AmandaDoyle commented on #19
@AmandaEyer everything sounds good but I'm going to push back on the order and say that the inactive field should be located at the end of the table with the rest of the "DCP Flags" and like the other "DCP Flags" it will be a boolean field, so values are either true or false.

I implemented this logic in x_inactive.sql

[2019-01-30 18:36] AmandaDoyle commented on #21
Added logic to clean.sql

[2019-01-30 18:41] AmandaDoyle commented on #18
Yes, that's because occ_.sql was being run before dcpattributes.sql

I changed the order of operations so that dcpattributes.sql are applied and then the occ_category is assigned

[2019-01-30 19:19] AmandaEyer commented on #2
Okay we have determined that it makes sense to implement this change. Please leave units_complete and units_incomplete BLANK for alterations.

[2019-01-30 21:12] AmandaDoyle commented on #18
reopening

[2019-01-30 21:13] AmandaDoyle commented on #18
closed - reordered in occ_

[2019-01-30 21:13] #18 closed

[2019-01-30 21:14] AmandaDoyle commented on #24
done in occ_.sql

[2019-01-30 22:00] AmandaEyer commented on #8
Alright. Please change the code in step 2 to reflect the following:

To reflect the loss of residential units when multiple dwellings are converted into hotels
Where job_type= A1 AND occ_init= Residential%  or Assisted% AND occ_prop=hotel% AND x_mixeduse=[blank] THEN re-set value for units_prop to 0

To reflect the gain of residential units when hotels are converted into multiple dwellings
Where j

[2019-01-31 22:08] AmandaDoyle commented on #26
edited qc_.sql to output all duplicate records

[2019-01-31 22:09] AmandaDoyle commented on #19
Closing - logic implemented at x_inactive.sql
but @AmandaEyer if you want to make changes please reopen

[2019-02-01 20:04] AmandaDoyle commented on #8
Updated and implemented units_hotels.sql

[2019-02-01 20:04] #8 closed

[2019-02-01 20:54] AmandaDoyle commented on #2
Added the following to unitscomplete.sql
'WHEN job_type = 'Alteration' AND status <> 'Complete' AND units_net IS NOT NULL THEN units_net'
`WHEN job_type = 'Alteration' AND status = 'Complete' AND units_net IS NOT NULL THEN units_net`

[2019-02-01 22:46] AmandaDoyle commented on #22
simplified and corrected x_outlier logic so that things that were already checked are not flagged again

[2019-02-04 15:46] AmandaEyer commented on #19
Code is missing a portion:

Flag jobs as inactive where either of these statements is true:
where status=in progress AND status date=more than 36 months ago (from Q2 or Q4 date)

[2019-02-04 15:59] AmandaDoyle commented on #19
Okay so adding
'UPDATE developments SET x_inactive = TRUE WHERE status = 'In progress' AND (CURRENT_DATE - status_date::date)/365 >= 3;'
would fix the issue?

[2019-02-04 16:07] AmandaEyer commented on #2
This code has not been fully correctly implemented in Feb1 version.
For instance, job 121329268 has u_net of 70, but u_net_complete of 304. Since the input is supposed to be u_net, it's still getting its values for "304" from elsewhere.

[2019-02-04 16:08] AmandaEyer commented on #2
Other job numbers where u_net_complete is not right:
121190656
121324343

[2019-02-04 16:14] AmandaEyer commented on #23
Not implemented yet. Is it because the field name is units_net_complete in dcp attributes and you are looking up u_net_comp?
Job 110110022 would contain corrected value. Actually this issue would be addressed with the Alterations code update.

[2019-02-04 16:35] AmandaEyer commented on #26
Improve qc qsl by NOT flagging as potential duplicates, those jobs where:
x_inactive = TRUE
status= Withdrawn

[2019-02-04 16:48] AmandaEyer commented on #19
Yes, keeping everything you already got, plus adding the above.

[2019-02-04 16:49] AmandaEyer commented on #19
FYI We will likely add some more language here to address some duplicates issues.

[2019-02-04 17:05] AmandaDoyle commented on #2
That's because this criteria is also met
'WHEN job_type = 'Alteration' AND co_latest_units IS NOT NULL AND units_net IS NOT NULL THEN (co_latest_units::numeric - units_init::numeric)::text'

I changed the order and order and it is corrected

[2019-02-04 17:05] #2 closed

[2019-02-04 17:07] AmandaDoyle commented on #26
Implemented in qc_.sql

[2019-02-04 17:08] AmandaDoyle commented on #19
implemented above code in x_inactive.sql

Open new issue to enhance inactive flag

[2019-02-04 23:57] AmandaDoyle commented on #31
Logic of -- set the status to In Progress if there is a date in status P, -- set the status to Permit Issued if there is a date in status Q, and -- set the status to Complete where a TCO or FCO has been issued, was happening after -- set the status to withdrawn based on the x_withdrawal attribute value

So the Withdrawn values were getting overwritten.  Now, values cannot overwrite it if status is

[2019-02-05 14:43] AmandaDoyle commented on #34
added to qc_.sql to not include records where occ_prop IS Garage/Miscellaneous to dups table

[2019-02-05 16:46] AmandaDoyle commented on #32
@AmandaEyer I'd ask that you give input / sign off on this.

The records mentioned are not being flagged as Garage because the description also contains one of the key words (see code below).  Please let me know if you'd like me to build out this logic

[2019-02-05 17:44] AmandaDoyle commented on #33
@AmandaEyer Do you want to not mark records as x inactive where the status is Withdrawn or occ_prop = Garage/Miscellaneous?

Or should these two parameters not considered when marking records as inactive?

[2019-02-05 20:10] AmandaDoyle commented on #33
added logic to x_inactive.sql
-- Tag projects that are potential duplicates
-- and the status date is older than an associated complete record

[2019-02-05 20:50] AmandaEyer commented on #36
I just checked the outlier field and it contains currently 15 records "TRUE", many of which are DCP edited. DCP edited records should not be flagged as outliers in the database.

[2019-02-05 20:55] AmandaEyer commented on #35
and drop the x_outlier field for the export version too, since there won't be any flagged records anyway.

[2019-02-05 21:18] AmandaDoyle commented on #35
added logic to export.sql

[2019-02-05 21:31] AmandaDoyle commented on #32
added logic to occ_.sql

-- Whenthere are multiple new building jobs that share the same address and net units
-- if 1 does not mention garage, change occ_prop to garage for records where job decription contains garage

[2019-02-05 22:16] AmandaEyer commented on #36
I think there were only 2 real flagged outliers in the past version

[2019-02-06 15:08] AmandaEyer commented on #38
I am not sure that what I described above IS the problem. I don't quite know what the problem is.. but for the jobs below, u_net does not equal u_prop minus u_init - and I am not sure why that is. U_net should always equal u_prop - u_init.

120589041
321192384
121190406
121185494
321769877
121190996
121185029
102507253
110185941
123375631
122388479
122909610
121137055
122211114
321096522
121175076

[2019-02-06 16:42] AmandaDoyle commented on #38
@AmandaEyer 03_build.sh shows the order of operations.

units_.sql is run after dcpattributes.sql, but units_hotels was being run after units_net was being calculated, which is what was throwing the units_net for the jobs above off.

I rearranged the logic and added to units_.sql

[2019-02-06 16:45] AmandaDoyle commented on #39
Added logic to dcpattributes.sql to add x_mixeduse flag

[2019-02-07 16:59] AmandaDoyle commented on #32
swapped units net for units prop in Occ_.sql

[2019-02-08 16:22] AmandaDoyle commented on #41
added logic to dcpattributes.sql

[2019-02-08 18:58] AmandaDoyle commented on #41
implemented

[2019-02-08 21:59] AmandaDoyle commented on #44
`WHEN status = 'Withdrawn' THEN NULL`
^ added logic to unitscomplete.sql

Not implementing logic to co_ attributes

[2019-02-08 22:06] AmandaDoyle commented on #42
Added
units_complete =
`WHEN status = 'Complete' AND units_net IS NOT NULL AND job_number IN (SELECT DISTINCT job_number FROM housing_input_dcpattributes WHERE units_prop_res IS NOT NULL) THEN units_net`

units_incomplete = `WHEN status <> 'Complete' AND units_net IS NOT NULL AND job_number IN (SELECT DISTINCT job_number FROM housing_input_dcpattributes WHERE units_prop_res IS NOT NULL) THEN units

[2019-02-08 22:13] AmandaEyer commented on #42
Looks good to me!

[2019-02-08 22:19] AmandaDoyle commented on #42
implemented and closing

[2019-02-14 18:05] AmandaDoyle commented on #47
@AmandaEyer we're in the processes of implementing the spatial joins and updating the data.

I agree. GeoSupport returns the label, but we can transform this so that it is the full code

[2019-02-14 18:07] AmandaDoyle commented on #46
adding spatialjoins.sql

[2019-02-14 18:09] AmandaDoyle commented on #40
added geo_zipcode

[2019-02-14 22:26] AmandaDoyle commented on #47
applying the bull boro ct cb number

[2019-05-24 19:09] mshapiro1 commented on #57
We can use the manual researched table created by HEIP and select a logic for those

[2019-06-03 20:20] AmandaEyer commented on #60
Yes, I agree

[2019-06-03 20:29] AmandaEyer commented on #56
@mshapiro1 Do you mean perhaps that the lot centroid is secondary to a geocoded points being within the shoreline? If you just clip to shoreline, you loose records, right?

[2019-06-03 20:30] AmandaEyer commented on #55
this involves running the DCP corrected attributes table on the CO tables as well. Are they set up to do so?

[2019-06-03 20:32] AmandaEyer commented on #53
@mshapiro1 What threshold do you need? A prior version listed "partial complete" as less than 80% of permit proposed units receiving CO.

[2019-06-03 22:54] mshapiro1 commented on #56
@AmandaEyer We shouldn't clip. Thanks for clarifying. There are some DOB jobs geocoded to the water, and I believe I remember @AmandaDoyle said there was a way to address that. Maybe selecting the point on the shoreline closest to the geocoded point?

[2019-06-03 23:02] mshapiro1 commented on #58
Housing NY to flag affordable housing. For NYCHA, Senior Housing, Group Quarters flags, we could text-search the job description field using the text-catches below.

NYCHA JD text search:
NYCHA, BTP, HOUSING AUTHORITY, NEXT GEN, NEXT-GEN, NEXTGEN, BUILD TO PRESERVE

GQ JD text search:
CORRECTIONAL, NURSING, MENTAL, DORMITOR, MILITARY, GROUP HOME, BARRACK

Senior Housing JD text search:
SENIOR, ELD

[2019-06-03 23:05] mshapiro1 commented on #55
@AmandaEyer I believe both tables have the Job Number field. Is that what you're looking for?

[2019-06-03 23:09] mshapiro1 commented on #53
@AmandaEyer this sounds reasonable for most buildings. For buildings <=10 units, maybe we could put in a fixed threshold of 5 units? Let me know if this sounds reasonable.

Also, is it useful to incorporate whether the job has a T-CO or a C-CO?

[2019-06-04 15:21] AmandaEyer commented on #61
Also, Mona wrote some draft SQL. I am happy to share if it's helpful.

[2019-06-14 14:27] AmandaDoyle commented on #52
Recreating the unit_change_2007 to unit_change_2018 field (found here https://github.com/NYCPlanning/db-housing/blob/master/housing_build/output/devdb_developments.csv) in a separate table

Old logic to compute fields is here https://github.com/NYCPlanning/db-housing/blob/master/housing_build/sql/cofosincrem.sql

[2019-06-14 14:48] AmandaDoyle commented on #53
@mshapiro1 @AmandaEyer
The current logic for assigning the status is in status.sql

Can you confirm that the logic for a "partial complete" status will be

- the number of units in the latest CO is less than 80% of the proposed units where proposed units  < 10
former logic `WHEN dob_type <> 'DM' AND u_net IS NOT NULL AND (c_u_latest / u_prop) < 0.8 THEN 'Partial complete'`
- the number of units in

[2019-06-14 14:51] AmandaDoyle commented on #54
SELECT occ_init, COUNT(*) FROM developments WHERE job_type = 'New Building' GROUP BY occ_init;
            occ_init             | count
---------------------------------+-------
 Residential                     |     4
 Hotel or Dormitory              |     2
 Commercial                      |     5
 Residential: Multi-Family       |    19
 Empty Lot                       | 78953
 Educational

[2019-06-14 14:59] AmandaDoyle commented on #56
@mshapiro1 are job numbers `220662726`, `220391136`, `421320519`, `421320519`, `320909950` good examples of what you're seeing and would like to correct?
https://capitalplanning.nyc.gov/development/320909950#15.56/40.604/-73.9085

We'll look into why this is happening and propose a solution

[2019-06-14 15:01] AmandaDoyle commented on #60
How would you like to move forward?
A) Remove records with "NO WORK" or "ADMINISTRATIVE" in the job description
B) Flag records with "NO WORK" or "ADMINISTRATIVE" in the job description
If B, how should these records be flagged?

[2019-06-14 15:04] mshapiro1 commented on #53
I think it makes sense to have a fixed threshold for partial completes when the unit counts are small. I also think we need to assign raise the threshold for partial completes on larger buildings from 50-80%. What do the two of you think of this? @amandaeyer @amandadoyle

  *   If an NB is marked as Complete and the latest CO is a T-TCO, then mark as partial complete if:
     *   Units_Net >=20 an

[2019-06-14 15:08] mshapiro1 commented on #60
@amandadoyle
Let’s flag them.

                upper(job_description) like '%NO WORK%'                           or
                upper(job_description) like '%ADMINISTRATIVE%'            then 1 else 0 end as no_work_administrative

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Friday, June 14, 2019 11:02 AM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Ma

[2019-06-14 15:12] AmandaDoyle commented on #61
@AmandaEyer can you share the links to the HNY by building and HNY by project data from Open Data?

We'll discuss during the meeting but some initial clarifying questions:
- One part is adding three fields to HNY table: DOB job number, classification of HNY to job relationship, Job type
- Second part is adding three fields to Housing table: HNY Unique ID, classification of HNY to job relationship,

[2019-06-14 15:12] mshapiro1 commented on #56
Yes. The most significant instance I noticed was for a Domino Sugar job: 320917503

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Friday, June 14, 2019 10:59 AM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Clip DOB geocoding to sho

[2019-06-17 14:24] AmandaEyer commented on #61
Here are the links to the two data sets:
https://data.cityofnewyork.us/Housing-Development/Housing-New-York-Units-by-Building/hg8x-zxpr
https://data.cityofnewyork.us/Housing-Development/Housing-New-York-Units-by-Project/hq68-rnsi

The data set "by Project" contains the field 'Planned Tax Benefit', which is a field we are interested in and does not exist in the "by building" data set. So we need to

[2019-06-17 15:14] mshapiro1 commented on #60
Amanda: @BillS85 Is going to do research and we'll decide if we omit or flag

[2019-06-17 15:20] mshapiro1 commented on #58
Amanda: Covered by HNY issue

[2019-06-17 15:28] mshapiro1 commented on #57
AD: Continue to roll duplicates table
add year to Duplicates table

[2019-06-17 15:45] mshapiro1 commented on #55
Amanda: Work with Mark to bring in his research for YOY table for hote / perm res

[2019-06-17 15:57] mshapiro1 commented on #49
Resolved

[2019-06-17 15:59] mshapiro1 commented on #50
AD: this it's own project
Long term objective

[2019-06-17 16:48] baolingz commented on #61
@AmandaEyer It will be great if you could share the SQL draft that Mona wrote. Thank you!

[2019-06-17 19:21] AmandaEyer commented on #57
@mshapiro1 Just to clarify the record on how we are treating duplicates, this is the process we followed in January:

- you and I worked with EDM on code to flag potential duplicates, the output was posted on GitHub.
- I looked at the records in the output list, focusing on duplicate records where more than 3 units would be added or removed. Most potential duplicates in the list were not actual du

[2019-06-17 21:24] BillS85 commented on #60
I looked at the small unit count buildings, 1 or 2 units, and since only six are new buildings it is probably best to omit them from the database.

[2019-06-18 18:44] mshapiro1 commented on #57
@AmandaEyer Sounds good.

Of the qc_potentialdups.csv list, I have again reviewed NB jobs of the same address and job type with > 19 units_net. I found that jobs 220453168 and 220600446 were old duplicates of job 220673162. Therefore, **jobs 220453168 and 220600446 should be removed in this coming update.**

Source 1:  https://newyorkyimby.com/2018/11/permits-filed-for-160-unit-apartment-building-

[2019-06-18 18:54] baolingz commented on #61
@AmandaEyer For the HNY by building records where projectname ≠ confidential and reporting_construction_type IS “New Construction”, all of them have bin = NULL. Do you have a second preferred proposal for creating the unique ID?

[2019-06-18 21:21] mshapiro1 commented on #57
@AmandaDoyle @AmandaEyer

There are also 4 job numbers that appear twice in the DB. The observation with the later status date should be preferenced for each of these job numbers.

123238157
520322473
520332827
520353894

[2019-06-19 14:56] AmandaEyer commented on #61
Hmm that's not good. HPD actually suggested using the BIN. It's annoying that they are not including this information. The problem is that they really do change building ID sometimes - not many records are affected, but it is not a constant value. I am not sure what to do, any ideas?

[2019-06-19 15:52] AmandaDoyle commented on #61
@AmandaEyer to move forward we're going to concatenate `Project ID` and `BBL` in the HNY
Even after geocoding the subset of (SELECT * FROMhousing_new_york_units_by_building WHERE project_name <> 'CONFIDENTIAL' AND reporting_construction_type = 'New Construction') records only a handful of BINs
While building out the logic can assess how well `Project ID` and `BBL` works as a unique ID

[2019-06-19 20:48] AmandaDoyle commented on #56
@SPTKL

Add a geocoding step to call function AP (address point) first and get the coordinates from there, which fall within the building footprint, if they exist

Then run 1B to get the additional geospatial attributes and coordinates if not returned from AP

Sample addresses where point is geocoded past shoreline using 1B:
299 WHITMAN DRIVE, Brooklyn
325 WHITMAN DRIVE, Brooklyn
2142 GLEASON AVEN

[2019-06-19 21:58] AmandaDoyle commented on #53
Added logic to assign "Partial complete'' status in status.sql

Had to split it out into two separate statements.  One for where units_net>=20 and a second for where units_net BETWEEN 5 AND 19, because I kept getting an error when logic was combined into a single statement.  Note logic for units_net BETWEEN 5 AND 19 returns no records for current version of database.

[2019-06-19 22:05] AmandaDoyle commented on #60
I added adminjobs.sql

The query would drop 9708 from the developments database (including residential and non residential records)

Please confirm that you'd like the records dropped from the database

[2019-06-19 22:05] mshapiro1 commented on #60
Confirmed

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Wednesday, June 19, 2019 6:05 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Author <author@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Remove or flag administrative jobs (#60)

I added adminjobs.sql

The query would drop 9708 from th

[2019-06-19 22:08] AmandaDoyle commented on #60
closing - added delete adminjobs.sql

[2019-06-21 13:44] AmandaDoyle commented on #45
@AmandaEyer
These records are getting assigned the '0' `units_incomplete` value as a result of this logic:
`WHEN units_net IS NOT NULL AND status LIKE '%Complete%' THEN '0'`
Full logic can be found here:
sql/unitscomplete.sql

Would you like to remove the status specific logic?

[2019-06-21 14:22] AmandaEyer commented on #45
@mshapiro1 and @AmandaDoyle
Yes, perhaps that's the solution? Since we are now adding the "partial complete" back in the statuses, how does that affect this code? Does that automatically take care of the issue, and we can leave status in here? (just remove the wildcard percentages from '%complete%'?
Essentially, we would assume that any partially complete job would have some complete and some inco

[2019-06-21 14:26] mshapiro1 commented on #45
@AmandaEyer @AmandaDoyle agreed -- would make sense to apply the current logic to 'Complete' and 'Complete (demolition)' statuses.

[2019-06-21 15:58] AmandaDoyle commented on #54
@mshapiro1 @AmandaEyer
This problem was due to the logic of assigning the occ_init based on the existing occupancy value by referencing the housing_input_lookup_occupancy and we would not overwrite the value when setting occ_init = 'Empty Lot' for job_type = 'New Building'

I have removed the logic to not overwrite values in occ_.sql so now a value will be overwritten and set to 'Empty Lot' (appli

[2019-06-21 16:11] AmandaDoyle commented on #54
pushed change to occ_.sql
commit message: removing logic of not overwriting values so that occ_prop = 'Empty Lot' WHERE job_type = 'Demolition' and occ_init = 'Empty Lot' WHERE job_type = 'New Building'

[2019-06-25 14:08] AmandaDoyle commented on #45
`SELECT COUNT(*) FROM developments WHERE units_incomplete::numeric >0` yields 105 records

In the current version of the dataset, only 17 records are assigned a status value of 'Partial complete' based on the logic given, so this will not greatly impact the values computed by unitscomplete.sql

Right now,
Sets units_incomplete to units_net
`status <> 'Complete' AND units_net IS NOT NULL AND job_nu

[2019-06-25 15:16] mshapiro1 commented on #45
It’s okay that only 17 records would be assigned Partial Complete.

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Tuesday, June 25, 2019 10:09 AM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Modify units_incomplete (#45)

SELECT CO

[2019-06-25 19:46] SPTKL commented on #56
https://nycplanning.carto.com/u/dcpadmin/builder/6502352c-269c-4cbf-aa81-b298cf97e36a/layers
Above link are the geocoding results in Brooklyn, it seems like most of the waterfront lots centroid has been corrected to address point location.

__However__ there are still cases where the address is geocoded in water, because  __`AP` does not have tpad mode__, hence everything along shoreline that's in

[2019-06-25 20:00] mshapiro1 commented on #56
Any suggestions to regeocode the addresses still in water? Maybe assigning them to the closest lot and flagging that this was done?

-Mark

From: Baiyue Cao [mailto:notifications@github.com]
Sent: Tuesday, June 25, 2019 3:46 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-06-25 20:35] AmandaEyer commented on #56
We can just overwrite the x/y coordinates with DCP attributes, no? As long as the tax lot intersects with land, we can manually allocate coordinates on land for those records. I assume it's just a handful?

[2019-06-25 20:48] mshapiro1 commented on #56
Yes, it’s just a handful. That is a reasonable solution.

From: AmandaEyer [mailto:notifications@github.com]
Sent: Tuesday, June 25, 2019 4:35 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Clip DOB geocoding to shoreline (#56)

We can just ov

[2019-06-25 21:02] AmandaEyer commented on #56
@mshapiro1: can you research the coordinates for those points, once we know which ones they are?
@AmandaDoyle: if we do this, do we need to revamp dcp_attributes in any way? There are many records with xy coordinates in there that I assume you are not pulling?

[2019-06-26 15:26] levysamu commented on #6
@AmandaDoyle Can you remind me what the workflow was for flagging outliers? I see qc_outliers contains a field with N, C and blank - what do those mean again? I know we resolved this a few months ago on slack, but lets have this conversation live on gitHub

[2019-06-26 16:07] levysamu commented on #57
@mshapiro1
OK this is incorporated: "I found that jobs 220453168 and 220600446 were old duplicates of job 220673162." the "duplicates" are being flagged as inactive.

On the duplicate job numbers issue, @AmandaDoyle this shouldn't be occurring, right? We can;t have job numbers appearing twice. Is there something you can do in the code?

[2019-06-26 17:20] AmandaDoyle commented on #56
@AmandaEyer @mshapiro1
Running `AP` drastically reduced the number of records grocoded to the water.  We would not recommend trying to snap the point to the nearest shoreline clipped BBL geometry.

If you'd like to manually map the records geocoded to the water by adding the corrected Lat and Long values to housing_input_dcpattributes.csv, we can accommodate that.

housing_input_dcpattributes.csv

[2019-06-26 17:36] AmandaEyer commented on #56
@AmandaDoyle Yes,, I think that's what we should do, though we should first remove from dcp_attributes all geometries that are not needed (there are thousands). Am I seeing correctly that no geometries at all are being pulled from dcp_attributes currently? (x_geomsource)

[2019-06-26 17:40] AmandaDoyle commented on #56
@AmandaEyer yes, that's correct.

Right now, no geometries are being created from the Lat/Long values in housing_input_dcpattributes

So if you 1) remove all the current Lat/Long values and then 2) add in the corrected Lat/Longs, we'll update the logic so that Lat/Long values from DCP will overwrite existing geometries so long as
` b.longitude IS NOT NULL AND b.latitude::double precision > 0`

[2019-06-26 17:45] AmandaDoyle commented on #56
@AmandaEyer

605 records in developments get their geometry from Lat/Long values in DCP attributes

1822 |
     84 | BBL geosupport MapPLUTO
   3905 | BBL DOB MapPLUTO
     15 | BBL DCP
     14 | Lat/Long DOB
    400 | BBL DOB DTM
    **605 | Lat/Long DCP**
 221910 | Lat/Long geosupport

[2019-06-26 17:50] AmandaEyer commented on #56
Okay great, I propose the following path after you create the first fun of housing DB 19v2:

@levysamu will remove all coordinates from dcp_attributes that are not currently being used, meaning all but the 605 records (or however many in the next run) where geomsource=Lat/Long DCP
@mshapiro1 will provide Sam with the coordinates for the points that need to be manually allocated to land (within the

[2019-06-26 17:52] AmandaDoyle commented on #56
@AmandaEyer Sounds perfect

Thanks!

[2019-06-26 18:14] AmandaEyer commented on #61
@baolingz Are you going to need me to take a look at this before the end of the week?

[2019-06-26 18:45] AmandaEyer commented on #61
@baolingz How did you imagine the qc process for this to work?
Will you create an output qc_HNY that includes any HNY records that couldn't be matched with DOB jobs? We also have to devise a structure to feed manual matches back into both the HNY table and the Housing database.

[2019-06-27 14:11] baolingz commented on #61
@AmandaEyer I had a draft version for now which is in branch 61_hny but still need to improve the overall workflow. For this issue, we will general 4 output tables: housing dataset (with unique HNY ID, dob_hny_relation and all_counted_units), HNY dataset (with job number, hny_dob_relation and job type), hny_dob_lookup table and hny_unmatch table which is equivalent to the qc_HNY you mentioned.

[2019-06-27 21:15] AmandaDoyle commented on #61
@AmandaEyer
For the second pass of matching HNY data to DOB records is the logic to match to DOB records
WHERE job type is A1 **AND** non-res
WHERE job type is A1 **OR** non-res

Thanks!

[2019-06-27 21:18] AmandaEyer commented on #61
Definitely an "OR".
Some matches may be residential A1 permits
Some matches may be non-residential NB permits (and if this is the case, the job needs to be reclassified as residential through dcp_attributes)

[2019-06-27 21:25] AmandaDoyle commented on #61
@AmandaEyer  Awesome.  And confirming that we're only matching HNY records to A1 OR No residential that **DID NOT** get a match in the first pass running (matching to NB and residential) correct?

[2019-06-27 21:51] AmandaDoyle commented on #61
@AmandaEyer as you can see we're currently fine tuning the logic right now
Our logic is
1) create unique ID for HNY records in open data table using the ProjectID, House number, street name, geosupport BIN and geosupport BBL
2) create unique ID for HNY records in manually researched table
3) Match DOB Job number to HNY records in open data table by BIN/BBL/Spatial and Manual researched table
Quest

[2019-06-28 13:24] AmandaEyer commented on #61
@AmandaDoyle Yes, that is correct.

[2019-07-01 21:44] AmandaDoyle commented on #51
added dropmillionbin.sql to remove million BINs and output file for research

[2019-07-03 14:44] AmandaDoyle commented on #45
@mshapiro1 @levysamu
I'm flagging because the observation of less than 100 records with a units_incomplete > 0 persists

The code (unitscomplete.sql) is doing what's it's written to do.

This chunk of code `WHEN units_net IS NOT NULL AND status = 'Complete' THEN '0'` sets units_incomplete to 0 for 68,166 records

Additional 0 values are being assigned when units_prop - co_latest_units = 0

In the

[2019-07-03 14:55] mshapiro1 commented on #45
@AmandaDoyle @levysamu

Thoughts on the logic below? This would be a units_net_incomplete field which does not relate to the units_complete field. This is what we use in the Known Projects DB.

case
			when a.status like 'Complete%' 			then null
			when a.status like '%Partial Complete' 	        then a.units_net - a.latest_cofo
			else a.units_net end 																		as units_net_incomplete,

[2019-07-03 15:20] AmandaDoyle commented on #36
This is resolved with this logic
`SELECT * FROM qc_outliers WHERE job_number NOT IN (SELECT DISTINCT job_number FROM qc_outliersacrhived WHERE outlier = 'N' OR outlier = 'C') AND job_number NOT IN (SELECT DISTINCT job_number FROM developments WHERE x_dcpedited = 'true'))`

[2019-07-03 16:04] mshapiro1 commented on #69
@BillS85 and HEIP will be providing the coordinates for points that need to be manually allocated to land.

@AmandaDoyle how do we identify a list of these points?

[2019-07-03 17:36] AmandaDoyle commented on #55
@mshapiro1 @levysamu @BillS85
housing_input_dcpattributes currently has values for the `unit_change_YYYY` fields.  Would you like to A) incorporate these values into the new Year Over Year table before you do research?  Or b) remove the current `unit_change_YYYY` values, and you can conduct your research and add in the corrected `unit_change_YYYY` values to the housing_input_dcpattributes, which w

[2019-07-08 14:48] AmandaDoyle commented on #71
@BillS85 I agree.  What threshold would you like to set for units_prop?  Only remove records where units_prop < 20?  Or...?

Looping in @mshapiro1

[2019-07-08 15:00] mshapiro1 commented on #71
@BillS85 @AmandaDoyle

The above seems to be the only NB with "administrative" in the JD which isn't actually an "administrative" job. It is also the only job > 20 units with "administrative."

I think it makes more sense remain unit-agnostic in this filtering, because no work/administrative jobs should be able to appear for buildings of any size. Improved logic below, which addresses what @BillS8

[2019-07-08 17:47] AmandaDoyle commented on #71
@mshapiro1
Changing the logic to
`DELETE FROM developments
WHERE upper(job_description) LIKE '%NO WORK%'
OR ((upper(job_description) LIKE '%ADMINISTRATIVE%'
	AND job_type <> 'NB')
OR (upper(job_description) LIKE '%ADMINISTRATIVE%'
	AND upper(job_description) NOT LIKE '%ADMINISTRATIVE CODE%'
	AND upper(job_description) NOT LIKE '%ERECT%'
	AND job_type = 'NB'));`

nets a difference of 1 record so 98

[2019-07-08 17:51] mshapiro1 commented on #71
@AmandaDoyle

Logic looks good. One edit: please omit `AND` upper(job_description) NOT LIKE '%ADMINISTRATIVE CODE%'`

[2019-07-08 17:54] AmandaDoyle commented on #71
Like this
`DELETE FROM developments
WHERE upper(job_description) LIKE '%NO WORK%'
OR ((upper(job_description) LIKE '%ADMINISTRATIVE%'
	AND job_type <> 'NB')
OR (upper(job_description) LIKE '%ADMINISTRATIVE%'
	AND upper(job_description) NOT LIKE '%ERECT%'
	AND job_type = 'NB'));`

?

[2019-07-08 17:56] mshapiro1 commented on #71
Yes. Thank you!

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Monday, July 8, 2019 1:55 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Removal of Records based on "No Work' or "Administrative" (#71)

Like this
DELETE FROM develop

[2019-07-08 18:02] AmandaDoyle commented on #71
edited the logic in admin jobs so that the one record is not removed

[2019-07-08 18:46] AmandaDoyle commented on #55
@mshapiro1 @levysamu @BillS85

Following up on the question above

[2019-07-08 21:20] AmandaDoyle commented on #45
@mshapiro1
I'd imagine that having the units_incomplete field not relate to the units_complete field could cause confusion

I defer to you, @BillS85 and @levysamu to decide if you'd like to modify the current logic for units_incomplete (unitscomplete.sql), and if so what should it be?

[2019-07-09 14:16] levysamu commented on #45
I apologize for not responding sooner. Had to set up notifications to my email.

@mshapiro1 @AmandaDoyle @BillS85

Just for my knowledge, why did we choose the 80% threshold in the first place? Presumably we decided that if at least 80% of the units were complete, then it was close enough. Do we feel differently now? Is it just a matter of making the threshold higher, to something like 90%, or do

[2019-07-09 18:52] AmandaDoyle commented on #52
@bendnorman - I should have caught this earlier.

Why does the year over year table not include a `unit_change_2019` field?  The dob_cofos table has 2019 effective dates and there are records in dev_export that have co_XYZ_effectivedate in the year 2019.

Example: job number 421433611 has a co_earliest_effectivedate of 2019-01-04 and a co_latest_effectivedate date of 2019-01-04 and a CO for 1 dwel

[2019-07-10 13:49] bendnorman commented on #52
The branch `52-yoyco` was working off of an older version of `dob_cofos.csv`.  When I re ran the YoY pipeline with the `dob_cofos.csv` from the master branch, 2019 was included.

[2019-07-11 18:48] AmandaDoyle commented on #72
removed restriction of latitude for _nogeom in export.sql, regenerated, and republished

[2019-07-15 18:18] AmandaDoyle commented on #71
Correct job number for example is: 121192574

[2019-07-16 18:10] AmandaDoyle commented on #55
@mshapiro1 @levysamu @BillS85
Per our conversation this morning

The year over year table will only reflect residential units

We will
- [ ] Apply researched unit changed values from dcp input table
- [ ] Add mixed use flag
- [ ] Republish year over year table

[2019-07-16 18:50] AmandaDoyle commented on #55
@mshapiro1 can you also provide the example job number where there is "smoothing" in the year over year table

[2019-07-16 19:46] AmandaDoyle commented on #45
@mshapiro1 @AmandaDoyle @BillS85
Can you confirm that this is the correct logic that you'd like to implement?

`UPDATE developments
SET units_complete =
	(CASE
		WHEN status LIKE 'Complete%' THEN units_net
		WHEN status = 'Partial complete' THEN co_latest_units
		ELSE NULL
	END),
	units_incomplete =
		(CASE
			WHEN status LIKE 'Complete%' THEN NULL
			WHEN status = 'Partial complete' THEN (units_n

[2019-07-17 15:35] mshapiro1 commented on #55
Between the 2nd and 3rd step, I will research unit changes in large mixed-use buildings.

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Tuesday, July 16, 2019 2:11 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Improve treatment o

[2019-07-17 16:13] mshapiro1 commented on #55
Job # 104856942 – let me know if you see the smoothing here!

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Tuesday, July 16, 2019 2:51 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Improve treatment of hotel & "other accomodatio

[2019-07-17 16:55] AmandaDoyle commented on #55
@bendnorman
One more improvement

If the max numofdwellingunits for a year is greater than the max numofdwellingunits of the following year, set the  numofdwellingunits for the year to equal that of the following year

i.e. jobnum = '104856942'

max | Year
-----+-------
 214 | 11
 924 | 12
 864 | 13
 864 | 14
 864 | 15

The max number of dwelling units should be 864 in 2012 so that you do not have

[2019-07-17 21:50] AmandaDoyle commented on #55
@mshapiro1 @levysamu @BillS85 Here is the updated year over year table.  We'll publish it in the output folder once you give the thumbs up
[devdb_yearly_unitchange.csv.zip](https://github.com/NYCPlanning/db-developments/files/3403946/devdb_yearly_unitchange.csv.zip)

[2019-07-19 21:13] mshapiro1 commented on #45
Just reviewed the results of this logic. Looks good to me!

From: Amanda Doyle [mailto:notifications@github.com]
Sent: Tuesday, July 16, 2019 3:46 PM
To: NYCPlanning/db-developments <db-developments@noreply.github.com>
Cc: Mark Shapiro (DCP) <MShapiro@planning.nyc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NYCPlanning/db-developments] Modify units_incomplete (#45)

@mshapiro1<https:/

[2019-07-22 14:30] AmandaDoyle commented on #73
@levysamu
occ_init and occ_prop come from the existingoccupancy and proposedoccupancy fields
THEN `occ_.sql` is run to populate the occupancy code fields using the housing_input_lookup_occupancy lookup table

I'd recommend not trying to change this for this release

[2019-07-22 14:42] levysamu commented on #73
@AmandaDoyle

I was definitely not trying to suggest that we fix this now. I just wanted to create a record so that we could talk about it for next time once we are done.

[2019-07-25 13:27] levysamu commented on #61
@AmandaDoyle

I read through this thread, but couldn't determine how we wanted to add manual matches. Are we doing this through DCPAttributes, do we need to create a different table, or is it some combination of both?

[2019-07-25 14:34] AmandaDoyle commented on #61
@levysamu given that this is a new process, we haven't determined that yet

We're happy to defer to you and incorporate whatever workflow works best.

[2019-07-25 14:36] levysamu commented on #61
@AmandaDoyle if we add HNY_id to DCPAttributes, is that sufficient to make everything else work? Will that work with your processes to update anything that needs to be updated in the HNY table and in the Housing Database table?

[2019-07-25 14:38] AmandaDoyle commented on #61
@levysamu Yes, adding HNY_id to DCPAttributes will work

[2019-07-31 14:37] AmandaDoyle commented on #45
Closing - implemented in latest generation

[2019-07-31 14:38] AmandaDoyle commented on #48
Addressed in issue #45

[2019-07-31 15:59] AmandaDoyle commented on #69
Edited geomdcp so that scp lat and long values will overwrite existing geometries.

[2019-08-06 18:34] AmandaDoyle commented on #75
Updated occ_.sql so that you cannot overwrite values that come from dcp attributes

[2019-08-09 14:41] AmandaDoyle commented on #76
Confirmed from @levysamu to not take values from DCP attributes table

[2019-08-21 15:13] baolingz commented on #55
Update the yoyco table:
- keep only residential projects
- remove projects without CO

updated dataset: [devdb_yearly_unitchange.csv](url)

[2019-08-21 15:18] baolingz commented on #61
The DCPAttributes table identified 52 job-HNY matches that weren’t automatically created. Use the DCPAttributes table to update the HNY table.

Updated dataset:
- [hny_devdb.csv](https://github.com/NYCPlanning/db-developments/blob/dockerize/developments_build/output/hny_devdb.csv)
- [hny_devdb_developments.csv](https://github.com/NYCPlanning/db-developments/blob/dockerize/developments_build/output

[2019-08-21 15:56] baolingz commented on #77
Solved

[2019-08-21 15:56] baolingz commented on #78
Sovled

[2019-08-22 19:05] baolingz commented on #52
Update the yoyco table:
- keep only residential projects
- remove projects without CO

updated dataset: [devdb_yearly_unitchange.csv](https://github.com/NYCPlanning/db-developments/blob/dockerize/developments_build/output/devdb_yearly_unitchange.csv)

[2019-08-23 16:12] levysamu commented on #74
Along these lines, there is no information in the 2007, 2008, or 2009 columns. They should also be deleted to reduce confusion.

[2019-08-23 16:26] levysamu commented on #61
We are having a problem with the HNY updates. In trying to match HNY records with DoB permits, I’m realizing that the DCPAttributes table that we have been using doesn’t always work. This is because HNY-DoB relationships can be 1-1, 1-many, many-1, or many-many.

I was thinking that the best way to handle this would be to create a new input table that just has 2 columns: Job Number and HNY ID.

1.

[2019-08-23 18:35] baolingz commented on #61
@levysamu @AmandaDoyle If you check out out [`hny_devdb_job_lookup.csv`](https://github.com/NYCPlanning/db-developments/blob/dockerize/developments_build/output/hny_devdb_job_lookup.csv) and look at the `hny_to_job_relat` attribute, you will see that there are no many-to-many dob-hny matches exist yet. I compared the two versions of the HNY table we generated and found things that may cause the pr

[2019-08-23 19:22] levysamu commented on #61
@baolingz

I actually think that you are identifying a separate, but also troubling issue. My issue is just that when a DoB job is related to more than one HNY record, there is currently no way to capture that in DCPAttributes. That is why I want to create a new table that will just be DoB_Job_Number and HNY_ID.

Just to make sure I understand the issue that you are highlighting: the problem is th

[2019-08-23 20:39] baolingz commented on #61
@levysamu Thanks for the clarification. Yes, then I think it is helpful to have another input table as you described. Besides, your understanding of my comment is correct. My quick solution to both of our issues is that you can maintain all manual research results in the previous input table [housing_input_hny_job_manual.csv](https://github.com/NYCPlanning/db-developments/blob/master/developments_

[2019-08-23 20:45] levysamu commented on #61
@baolingz

What information in housing_input_hny_job_manual do I need to update? Is it sufficient to simply add the HNY ID and the Job Number, or do I need to populate all of the information in that table?

[2019-08-26 13:53] baolingz commented on #61
@levysamu The [housing_input_hny_job_manual](https://github.com/NYCPlanning/db-developments/blob/master/developments_build/data/housing_input_hny_job_manual.csv) table does not have HNY ID column, but you don't need to populate all of the information. You only need to update `project_id`, `number`, `street`, `dob_job_num_source `, `DOB_Job1 `, `DOB_Job2`, `DOB_Job3` and `DOB_TYPE` for the manual m

[2019-08-26 13:55] levysamu commented on #61
Yes, let's meet quickly so we can finish this up. Thank you. I am free any time today.

[2019-09-13 18:37] mshapiro1 opened #82 "Some jobs are still geocoded to water"
Please let me know how I can help! See job #s 420665355, 320912401

@baolingz @AmandaDoyle

[2019-09-16 14:51] SPTKL commented on #82
@mshapiro1 those addresses failed to geocode using the address point function, so they geocoded to the centroid of the lot. The only way to fix them is to manually geocode

[2019-09-16 16:10] mshapiro1 commented on #82
@levysamu has HEIP been manually geocoding significant jobs that are placed in water?

[2019-09-16 17:49] levysamu commented on #82
@mshapiro1

I believe we did do that, yes. I'm surprised we are still having issues. How many did you notice? Just the two listed above, or more?

[2019-09-16 19:08] mshapiro1 commented on #82
@levysamu those are 2 significant ones I noticed. There are some less significant projects in Staten Island, and there may be more I haven't seen across the city.

[2019-09-23 18:30] AmandaDoyle commented on #83
@mshapiro1 this is an issue with the Carto API and not related to the data table that is uploaded to Carto

[2019-09-23 18:42] AmandaDoyle commented on #82
@mshapiro1 Are these two jobs being geocoded in water really worth holding up the release of the database?
To correct this issue, you'll need to add these two jobs to housing_input_dcpattributes.csv (neither of these jobs appear in the table) with the correct Lat/ Long values, and we'll need to regenerate the database.  We can do a hotfix but we'd prefer not to.
Additionally, you can add these job

[2019-09-23 21:07] mshapiro1 commented on #83
@AmandaDoyle got it, thanks!

[2019-09-23 21:20] mshapiro1 commented on #82
@AmandaDoyle

I didn't realize it would require regenerating the whole database!

We can push this to the January release. It'll be critical to catch the buildings then for the sake of the Known Projects DB and SCA Multipliers work.

@levysamu I also know that HEIP initially underprojected 2025 growth for NYMTC because the projections code accidentally didn't count large developments like Domino S

[2019-09-25 16:32] AmandaDoyle commented on #82
@mshapiro1 the proper way to do the correction would be to add the record with the desired lat/longs to housing_input_dcpattributes, incorporate changes, and re-publish the database.  If there are no show stopping issues, can you sign-off on the data that's in the staging environment so that it can be pushed live?  We agree that geocoding could be improved and I've documented an improvement below

[2019-09-25 16:35] AmandaDoyle commented on #82
@baolingz @SPTKL
Future improvement to avoid geocoding in water
1) Take Lat Long from Address Point (already doing this)
2) Take Lat Long from BBL (already doing this)
3) If the BBL has been clipped between PLUTO unclipped and clipped version then take the lat/long from the centroid of the clipped lot (new)

[2019-10-04 14:11] AmandaDoyle commented on #74
Closing because this is resolved

[2019-10-07 17:45] AmandaDoyle opened #84 "Yearly unit change table - remove records that do not have a change"
Do not write records to the output file that are 0 or NULL for all unit change years

[2019-10-09 17:24] baolingz commented on #84
filter applied.
[code]

[2019-10-09 18:12] AmandaDoyle commented on #85
closed and delivered

[2019-11-29 19:10] AmandaDoyle opened #86 "Incorporate yearly unit change corrections into Year over Year table"
Given that the year over year table is derived from the main table most corrections are already incorporated (i.e. updating the u_prop field), but corrections to the individual years need to be incorporated
i.e. the following correction record "110110022,,,,,,,,,0,,,,0,,,,,,,,,,,,,,,change unit_change_2011 / change unit_net_complete," from the dcp_attributes table

Incorporate yearly unit change c

[2019-12-04 15:38] AmandaDoyle opened #87 "QA - Check DOB permits against PLUTO unit counts"
1) Report jobs that are complete where the PLUTO BBL matches the BBL but the PLUTO number of units <> the proposed number of units

2) Report jobs that are not complete where the PLUTO BBL matches the BBL but the PLUTO number of units <> the initial number of units

[2019-12-04 15:42] AmandaDoyle opened #88 "QA - output table of potential SROs"
Query for keywords in description
- Class B
- SRO
- Furnished room

Or where there is a big change in the number of units for an Alteration
I.e. permit is an A1 and initial number of units is 3 and the proposed number of units is 6

[2019-12-04 15:44] AmandaDoyle opened #89 "QA - generate comparison report to compare current version to previous version"
Emulate PLUTO mismatch report and graph
Output list of individual records that changed

[2019-12-04 15:46] AmandaDoyle opened #90 "QA - Improve geographic admin bound fields"
Provide list of records where there is a mismatch between what is returned by a spatial join vs what's returned by GeoSupport

[2019-12-04 15:47] AmandaDoyle opened #91 "Improve geographic admin bound fields"
Fill in all admin bound values with a spatial join if no value is returned from Geosupport

Potentially, just going to use a spatial join and not Geosupport (tbd)

[2019-12-04 15:48] AmandaDoyle opened #92 "Transform DCP attributes table to match PLUTO corrections table format"

[2019-12-04 16:09] AmandaDoyle opened #94 "QA - Start creating QA notebook"
See with standard summary reports

- Geocoding statistics
- General counts (number of New Building permits, etc)
- Other existing QAQC reports in the output folder (files that start with qc)

[2019-12-04 16:23] baolingz commented on #86
@mshapiro1 All unit change fields had been incorporated into the yearly unit change table, please pin us if you see any discrepancies.
https://github.com/NYCPlanning/db-developments/blob/dockerize/developments_build/output/devdb_yearly_unitchange.csv

[2019-12-04 17:08] baolingz commented on #87
[code]

[2019-12-04 19:21] #86 closed

[2019-12-04 19:21] #84 closed

[2019-12-04 22:35] levysamu commented on #61
@baolingz @AmandaDoyle

Can we circle back around to the issue of us creating a unique ID for HNY data? We just had a meeting with HPD and they are saying that they already have a stable UID in their HNY data that we should be able to use. If we do not agree, can I get an example to show them why whatever they have in there doesn't work? They seemed willing to work with us on this, I just wasn't a

[2019-12-04 22:52] levysamu commented on #94
Below is the list of routine checks on the housing database that Amanda Eyer outlined before leaving that we followed on the most recent DevDB work.

- [ ] Before delving into the data, check total number of records by job type and some basic unit aggregates, like units_complete by co_year_earliest. If results are reasonable, proceed. If not, figure out what the problem is and discuss with EDM.

-

[2019-12-05 14:53] levysamu opened #95 "QA - Routine checks from previous versions to include in new system"
Below is the list of routine checks on the housing database that Amanda Eyer outlined before leaving that we followed on the most recent DevDB work.

- [x] 1. Before delving into the data, check total number of records by job type and some basic unit aggregates, like units_complete by co_year_earliest. If results are reasonable, proceed. If not, figure out what the problem is and discuss with EDM.

[2019-12-10 16:37] kschmidtDCP opened #96 "Join select PLUTO fields to DevDB"
Join selected fields from the most current PLUTO to DevelopmentsDB based either on BBL text join or spatial join, for all jobs.

PLUTO fields to join:
version, unitsres, bldgarea, comarea, officearea, retailarea, resarea, yearbuilt, yearalter1, yearalter2, bldgclass, landuse, ownertype, ownername, condono, numbldgs, numfloors, firm07_flag, pfirm15_flag

[2019-12-10 22:46] AmandaDoyle commented on #97
Need to determine what date to use (date permit filed?)
Might be a project for Ann

[2019-12-13 20:20] baolingz commented on #95
@AmandaDoyle first qaqc notebook is for review https://github.com/NYCPlanning/db-developments/blob/dockerize/developments_build/notebooks/developments_qaqc.ipynb

[2019-12-13 20:35] #87 closed

[2019-12-13 20:35] #88 closed

[2019-12-18 21:00] AmandaDoyle commented on #95
@baolingz overall great.  Here's some feedback to make it better
1) in 2. Next, check all fields, for completeness and content, format etc. report the % of records where the value is not null for that field and not just the count

[2019-12-18 22:34] AmandaDoyle commented on #95
@baolingz for 8. Research large non-residenttial buildings with large unit counts to confirm that they are non-residential (`occ_category <> Residential`)
@levysamu what is your definition of "large?"  Records where units_net > 50?  OR...?

[2019-12-18 22:47] AmandaDoyle commented on #95
@baolingz for 13. Check geocoding: are there records that are not within tax lots? Records in water?

Report housing DB records where the geometry does not intersect with MapPLUTO clipped to shoreline

[2019-12-18 22:50] AmandaDoyle commented on #95
@baolingz for 14. Eliminate DOB test jobs (BIS TEST) - query job description field. If any left, add to housing_input_removals.csv

Report records `WHERE upper(job description) LIKE '%BIS%TEST%' OR upper(job description) LIKE '% TEST %' `

[2019-12-19 15:13] levysamu commented on #95
@AmandaDoyle @baolingz

Regarding 8, let's do anything that is >=3 units. Not quite large, but we have a few more hands on deck to deal with this work now so we should be able to handle a bit more. I'll change the language in the original post.

[2019-12-19 16:36] levysamu commented on #95
I am also adding another thing to the list based on an issue I just discussed with Bill. We want a flag for instances where the number of units in a CO exceed the number of units that were permitted. This leads to our year over year file having an inflated number in one year and a negative number in the following year. An example is 121324717.

[2020-01-02 19:40] levysamu commented on #97
@AmandaDoyle

I think date permitted (status_q) makes the most sense.

[2020-01-02 19:46] levysamu opened #98 "Reorganize and Rename Columns"
@croswell81 @AmandaDoyle

Attached document shows the new order and names for the complete DevDB and the M: Drive version of the HousingDB.

[2020-01-02 19:49] levysamu commented on #73
@AmandaDoyle

Is this worth looking into this time around?

[2020-01-02 20:17] levysamu opened #99 "Field Recodes"
- [ ] **Status** field recategorization:
     - add number prefix to all statuses to show order: "1. Filed", "2. In Progress", "3. Permit Issued", "4. Complete", "9. Withdrawn"
     - recode "complete demolition" to "complete"
     - recode "in progress (disapproved)" to "in progress"

- [ ] Change flag fields from TRUE/FALSE to something more meaningful
     - **x_inactive**: True -> Inactive; Fa

[2020-01-03 15:50] baolingz commented on #98
@levysamu I noticed you didn't include the PLUTO fields into the data dictionary. Would you still like to add the following 19 attributes to the DevDB? if so, could you include them in the Excel file? Thank you!

PLUTO fields to join:
version, unitsres, bldgarea, comarea, officearea, retailarea, resarea, yearbuilt, yearalter1, yearalter2, bldgclass, landuse, ownertype, ownername, condono, numbldgs

[2020-01-03 16:16] levysamu commented on #98
Thanks for catching this. I'll do it now.

[2020-01-03 16:25] #91 closed

[2020-01-03 16:26] #94 closed

[2020-01-03 21:50] levysamu commented on #98
@baolingz

Updated version below. For the FIRM07 and PFIRM15 flags, do we need to get them from PLUTO or can we get them in the same way we get all of our other geographic columns? Partly I'm wondering if the PLUTO column name prefix is necessary.

[HousingDatabaseDictionary19v2-FieldNames.xlsx](https://github.com/NYCPlanning/db-developments/files/4021029/HousingDatabaseDictionary19v2-FieldNames.x

[2020-01-03 22:56] baolingz opened #101 "Confirm the logic to apply dcpattributes"
- We need to confirm the logic of updating bin, bbl, latitude, longitude in the DevDB with HEP (Should we apply them after the geocoding and spatial join?)
- Question: How can we make units_prop_hotel useful?

[2020-01-06 22:29] kschmidtDCP commented on #100
HED would like to manually research which job number is correct and what the cause of duplicate jobs is. Request that EDM builds list of duplicate job numbers into the QAQC sheet.

[2020-01-07 15:32] kschmidtDCP commented on #99
I would also expand on the year_complete and year_permit fields to include qtr_complete (quarter complete) and qtr_permit. Need to discuss with Sam to determine where in the field list these variables should go.

[2020-01-07 18:30] AmandaDoyle commented on #101
- Add check for records that fall outside boro clipped
- For lat and long apply to records that are not in tax lot (subset of 207)
- Create workflow to check to make sure lat and long is only applied to records not in lots
- Only apply BIN and BBL to records where those values are NULL
- Count of records where Geosupport doesn't give us a value but spatial join does
- Frequency distribution of Geo

[2020-01-07 20:01] kschmidtDCP opened #103 "Add 2010 Census Housing Units to Tract Summary Tables"
EDM to add the DCP adjusted Census 2010 count of total housing units as a column in the census tract summary tables, as discussed at meeting on Jan 7. The attached table contains the count by tract.

HED to update data dictionary on source being PopDiv, rather than the Census Bureau and ask PopDiv for any documentation on their methodology.

[Census2010_HousingUnits.xlsx](https://github.com/NYCPla

[2020-01-08 18:00] levysamu commented on #98
@baolingz @AmandaDoyle

Updated again with additional fields from #104 (Add Additional Fields From Original DoB Data). Fields in yellow are from #104. I also added the fields for the quarter of completion and permitting where they belong.

[HousingDatabaseDictionary19v2-FieldNames.xlsx](https://github.com/NYCPlanning/db-developments/files/4036601/HousingDatabaseDictionary19v2-FieldNames.xlsx)

[2020-01-08 22:48] AmandaDoyle commented on #105
@baolingz for 1.1
I expanded dev_qc_jobtypestats table in `qc_` but need we need to finalize the name for published dev db version (aka previous) and build pipeline to bring in published dev db

[2020-01-09 23:19] AmandaDoyle commented on #105
@baolingz btw I'm updating the field values in the housing_input_research research table to be in line with the field names (i.e. dcp_occ_category becomes occ_category)

[2020-01-10 22:41] AmandaDoyle commented on #105
note to self - need to rewrite geomdcp.sql to work with new format

[2020-01-13 19:16] AmandaDoyle commented on #105
@baolingz here is how the values in the "field" column should be changed so that the field names match the column names in the developments table

dcp_occ_category --> occ_category
occ_init
dcp_occ_pr --> occ_prop
prop_stories --> stories_prop
u_net_comp --> units_complete
u_net_inc --> units_incomplete
units_init
units_prop
units_prop_hotel
units_prop_res
x_inactive
x_mixeduse

[2020-01-14 19:19] kschmidtDCP opened #110 "Request zoning sqft data by use type from DOB"
Need to request that DOB provide additional detail on zoning sqft by use type. This information is available on in the permit but not open data. We need it for zoning analyses as well as flagging non-residential uses within a building.

[2020-01-14 21:53] AmandaDoyle commented on #105
lingering things that need to get resolved

- [ ] Update `Units_Initial` to show values in numeric format - 02 should be 2, etc.

[2020-01-16 18:56] baolingz opened #113 "Update data loading script on QAQC report"
- load all QC tables from postgreDB

[2020-01-16 18:56] #92 closed

[2020-01-16 18:56] #96 closed

[2020-01-16 18:56] #95 closed

[2020-01-16 18:56] #90 closed

[2020-01-16 18:57] #89 closed

[2020-01-17 15:51] AmandaDoyle opened #114 "Add units initial and units proposed to table 7 in long list"

[2020-01-17 15:53] AmandaDoyle opened #115 "PLUTO Owner name is NULL"
Update before release

[2020-01-21 16:48] AmandaDoyle opened #116 "Change remove workflow"
1) migrate all currently removed job numbers into housing_input_reasearch table and make field value "remove"
2) change remove.sql to read from housing_input_reasearch

[2020-01-21 17:06] #114 closed

[2020-01-21 17:06] #115 closed

[2020-01-21 17:06] #113 closed

[2020-01-27 21:20] BillS85 opened #117 "Problem with Census Tract Aggregates file"
Took a look at the qc_ct file and for status "Completed" the  cells are all equal to zero. Foe status "Permitted" in y2019 the total is 15,536 where HDB indicates a Total of over 28,000.  Also ALL tracts should be included even when the 10 year total is zero and tracts clipped at shoreline would be appreciated.

[2020-01-27 22:56] kschmidtDCP opened #118 "Logic to remove duplicate job_number records"
For any records that share an identical job_number and BBL, keep only the record with the most recent date_lastupdt value and remove the older record(s).

Some records share an identical job_number, but not BBL. In these cases HED will need to manually review.

[2020-01-28 16:15] kschmidtDCP commented on #118
There are two duplicate records in version 20v1 (aAKA 19Q4) with different BBLs that need to be manually removed because specification isn't possible in the Housing Input Research Table:
job_number |   BBL
420664178   |  4037310065
420664203   |  4004580094

[2020-01-28 16:40] BillS85 opened #119 "Missing Yearly Unit counts"
I opened the yearly annual unit count file and it appears that the 2010 through 2019 annual totals are missing. Units_init, units_prop and units_net are filled in but beyond that  no data.

[2020-01-28 17:05] AmandaDoyle commented on #119
Some records have the yearly unit change (i.e. job number 102507253) but not all, even though there is a CO issued (i.e. 102507253)

[2020-01-28 17:06] AmandaDoyle commented on #118
Before the final release at the end of the sprint we'll devise a way to remove records based on job number and BBL that you research, and we'll implement the logic you specified to remove records where the job number number and bbl are the same

[2020-01-28 17:07] AmandaDoyle commented on #117
We'll work to improve and finalize this table in the spring

[2020-01-28 22:49] #119 closed

[2020-01-29 14:38] levysamu commented on #120
@baolingz I believe we have backfilled all permits that did not have a value in unit_init or unit_prop, which will in turn fix unit_net. In the last version of the HDB there were ~2,000 permits with this information missing. We went through them all a few months ago and fixed them. Hopefully this will address your issue without having to fill them in with 0s and 1s.

[2020-01-29 15:06] #116 closed

[2020-01-29 15:46] baolingz commented on #120
[code]

[2020-01-29 16:03] levysamu commented on #120
@baolingz

I think I'm a little confused. There's no way it should be as high as 20k records. Are you using the entire DevDB? For the purposes of the year over year table, we should only be using the HousingDB.

[2020-01-29 17:28] baolingz commented on #120
@levysamu you are right, I just corrected the queries. Now it should only reflect the housingDB portion.

[2020-01-29 18:02] levysamu commented on #120
Thank you, this is more along the lines of what I was expecting. In the next edits table we should have accounted for all of these and the problem should go away.

[2020-01-30 21:43] kschmidtDCP opened #121 "Logic to handle conflicting geographic fields"
1. If a record's geosupport BCT2010 is 2046201 or 4091601, use geosupport to determine geographic identifiers.

2. Else if a record's geosupport BBL is:
- not identical to spatial join BBL,
- or the record's latitude/longitude has been added in the housing_input_research table,
Use spatial join values to determine all geographic identifiers.

3. Else, use geosupport.

@AmandaDoyle @baolingz

[2020-01-30 22:15] levysamu commented on #98
We are still missing many of the geographic identifiers that we had intended to be included in this version. I think we have ~9 geographic identifiers in 19Q4, but had outlined 20. In the excel document above, these were columns 82 through 101, also copied below. The ones that are checked off are already in the DevDB.

- [ ] CenBlock2010
- [ ] BCTCB2010
- [ ] BCT2010
- [ ] NTA2010
- [ ] PUMA2010
-

[2020-01-30 22:25] baolingz commented on #117
"for status "Completed" the cells are all equal to zero" this issue has been solved.

[2020-01-31 19:21] AmandaDoyle commented on #98
@levysamu we committed to adding spatial information from spatial joins from files on M drive in a future enhancement cycle, which we have scheduled for the spring.  Given that this is a significant schema and workflow change we could not include these additional fields in this version and deliver an output within the timeframe we committed to.
See issue #105 for what we committed to for this upda

[2020-01-31 19:51] kschmidtDCP opened #122 "Do not assign completion date for withdrawn demolitions"
For jobs where type = Demolition and status = Withdrawn, complete_year should be reset to NULL.

(Values appear in complete_year when demolition job has a value in date_permittd, even if the job was subsequently withdrawn. This may be causing bugs in the YoY table.)

[2020-02-05 19:16] baolingz commented on #118
[code]

[2020-02-05 20:18] baolingz commented on #118
<img width="1081" alt="Screen Shot 2020-02-05 at 3 17 36 PM" src="https://user-images.githubusercontent.com/31453240/73879541-af97aa00-482a-11ea-837b-d05ae081fd36.png">
@kschmidtDCP The two dropping record has been added into housing_input_research.csv as above

[2020-02-07 15:34] AmandaDoyle opened #124 "Add check to make sure all values in the field column in the "housing_input_research" table are valid"
And that job_number + field is unique

[2020-02-13 22:45] AmandaDoyle opened #125 "Is renaming co_earliest_effectivedate to Date_Complete really appropriate?"
Just because a XO has been issued doesn't mean the job is complete

[2020-02-14 22:05] AmandaDoyle opened #126 "Comment out outlier components"
Outliers will only be removed by marking records as removed in the Housing Input Research table

[2020-02-26 15:09] AmandaDoyle opened #127 "Add BIN from the DoB data to output"
Add a BIN field to the output.  It should be the BIN from the DoB data

[2020-02-26 23:29] AmandaDoyle commented on #126
Done - change made in dcpedits branch

[2020-02-26 23:29] #126 closed

[2020-02-27 16:17] kschmidtDCP opened #130 "Error with bctcb2010 Coding"
The bctcb2010 field contains an error, where the boro and tract codes are repeated. For example currently this block appears in the file, 1017300**1017300**3000, but it should read 10173003000.

[2020-02-27 17:08] levysamu opened #132 "DCPEditReason"
For DevDB_19Q4 we would like one of the following two things for the dcpeditreason field:

1. Either remove it, since there is very little useful information and in some cases the note that we wrote in there was really more internal than anything else

      **OR**

2. Show all of the fields that were edited for that record separated by commas or semicolons

[2020-02-27 18:15] kschmidtDCP opened #133 "Logic to recode occ_category from Other to Residential"
Many demolition jobs with residential units are being excluded from the Housing DB because occ_init is not residential and therefore occ_category is coded as Other.

HED will propose logic by 2/27 to recode these jobs' occ_category as Residential, in addition to adding specific edits to the housing_input_research table if necessary.

[2020-02-27 20:17] #118 closed

[2020-02-27 20:17] #122 closed

[2020-02-27 20:17] #127 closed

[2020-02-27 20:17] AmandaDoyle opened #135 "Update version to be "2019Q4'"

[2020-02-27 20:20] AmandaDoyle commented on #132
@levysamu only option 1 could be achieved in this version
Please let us know if you'd like us to drop the `dcpeditreason` field

[2020-02-27 21:47] levysamu commented on #132
@AmandaDoyle Yes, remove it.

[2020-02-28 15:16] AmandaDoyle commented on #135
Updated text in export.sql

[2020-02-28 15:16] #135 closed

[2020-02-28 15:17] AmandaDoyle commented on #132
commented out field in export.sql

[2020-02-28 15:17] #132 closed

[2020-02-28 16:26] AmandaDoyle commented on #130
made edits to the spatialjoin.sql and export.sql to correct the lengths and values in boroct2010 and bctcb2010

[2020-02-28 16:26] #130 closed

[2020-02-28 16:46] kschmidtDCP opened #139 "24 records in DevDB do not have valid BCTCB and NTA codes"
These records do not have valid BCTCB and NTA codes. Many of them are on the same BBL or city owned parcels.
[devdb_export_2020.02.27_NTAisNULL.xlsx](https://github.com/NYCPlanning/db-developments/files/4268066/devdb_export_2020.02.27_NTAisNULL.xlsx)

[2020-02-28 22:13] kschmidtDCP commented on #133
Let's discuss the following logic for version 2020Q2 to handle this issue:

1. Identify universe of suspected demolitions with residences that are excluded from HousingDB.
IF job_type = Demolition AND job_status <> Withdrawn AND job_inactive is null AND occ_category = Other AND units_net > 0 AND Floors > 1 AND occ_initial contains (Assembly: Other, Commercial, Eating & Drinking, Educational, Publi

[2020-03-06 23:05] AmandaDoyle commented on #139
@kschmidtDCP we looked into this and have a few findings.

15 of the records that do not have an NTA are in the housing_export table.
- Two of these records have an ooc_proposed of Empty Lot and fall within a PARK zoning district.  It would make sense that they do not fall within a census block.
- The remaining records are associated with [151-49 JUNIPER DRIVE](http://a030-goat.nyc.gov/goat/Functi

[2020-03-09 14:33] kschmidtDCP commented on #139
1. For PARK zoning districts and areas outside of a census block: Census blocks cover the entire extent of NYC, including water and public lands. They would therefore have a census block and NTA if using a spatial join, so it sounds like geosupport is incorrectly missing the census block information.

2. The 151-49 Juniper Drive records were updated in the housing input table to 40.796664,
-73.811

[2020-03-09 15:33] mgraber commented on #139
Juniper Drive addresses should be in the Whitestone NTA, since the park isn't large enough to be in the QN99 code for all large parks.

@AmandaDoyle Parks, lakes, etc. do have census blocks, they are just formatted strangely. For example, water blocks end in 99.

[2020-03-12 18:40] kschmidtDCP opened #145 "Edits for 2019Q4"
- [ ] Jobs that have a value in `units_init`, `units_prop`, `hotel_init`, `hotel_prop`, `otherb_init`, `otherb_prop` in the housing_input_research table should all be included in the HousingDB.

- [ ] If a record is included in the HousingDB, `occ_category` should be overwritten with "Residential" in both the HousingDB and DevDB. (It appears that `occ_category` is being coded before changes from t

[2020-03-13 15:26] mgraber commented on #139
#148

[2020-03-13 15:26] #139 closed

[2020-03-26 17:27] SPTKL commented on #155
## 2020/03/26 meeting notes
1. reasoning for PLUTO (just for HED, can be left out for others):
     * for completed buildings (and alterations), the square footage is useful.
     * use this for quality control on PLUTO? and number of units (secondary)
2. confirm final schema for YoY table + main table + CT table
3. confirm stake holder (governing body) for this product
4. enhancements priorities

[2020-03-26 18:16] SPTKL opened #3 "Meeting Notes Thread"
find all the meeting notes here!, following the template:
[code]

[2020-03-26 18:17] SPTKL commented on #3
## 2020/03/26 meeting notes
1. reasoning for PLUTO (just for HED, can be left out for others):
     * for completed buildings (and alterations), the square footage is useful.
     * use this for quality control on PLUTO? and number of units (secondary)
2. confirm final schema for YoY table + main table + CT table
3. confirm stake holder (governing body) for this product
4. enhancements priorities

[2020-03-26 18:18] SPTKL opened #4 "20Q2 - Enhancements Master Issue"
# New Fields
- [ ] Add fields from DHCR rent stabilization data #47
- [ ] Add Complete_Qrtr and Permit_Qrtr fields #51
- [ ] Add fields from Furman Center Core #48
- [ ] Add ClassB and Hotel units init and prop fields #28
- [ ] Create commercial (and other use types?) flags #49

# Logic
- [ ] update inactive logic for Demolitions #41
- [ ] Change logic for marking demos as complete and associated

[2020-03-26 18:19] SPTKL opened #5 "19Q4 - Additional Edits"
- [ ] Jobs that have a value in `units_init`, `units_prop`, `hotel_init`, `hotel_prop`, `otherb_init`, `otherb_prop` in the housing_input_research table should all be included in the HousingDB.

- [ ] If a record is included in the HousingDB, `occ_category` should be overwritten with "Residential" in both the HousingDB and DevDB. (It appears that `occ_category` is being coded before changes from t

[2020-03-26 18:25] SPTKL opened #6 "20Q2 - Logic to recode occ_category from Other to Residential"
Many demolition jobs with residential units are being excluded from the Housing DB because occ_init is not residential and therefore occ_category is coded as Other.

HED will propose logic by 2/27 to recode these jobs' occ_category as Residential, in addition to adding specific edits to the housing_input_research table if necessary.

__Let's discuss the following logic for version 2020Q2 to handle

[2020-03-26 18:28] #117 closed

[2020-03-26 18:28] #145 closed

[2020-03-26 18:30] AmandaDoyle commented on #137
no longer relevant

[2020-03-26 18:31] #125 closed

[2020-03-26 18:31] #124 closed

[2020-03-26 18:32] #5 closed, assigned to nobody

[2020-03-26 18:33] #101 closed

[2020-03-26 18:34] #98 closed

[2020-03-26 18:34] #82 closed

[2020-03-27 16:47] SPTKL opened #19 "20Q2 - fix occ_.sql"
it seems like the first two queries are not necessary because the last two will overwrite them anyways.
should we remove the first two queries? same thing is observed for `occ_prop`

https://github.com/NYCPlanning/db-developments/blob/f20015feb728cea164460177626aac9d1f5a99cd/developments_build/sql/occ_.sql#L4-L24

[2020-03-30 15:06] mgraber opened #20 "20Q2 - Year-over-year unit changes aren't getting applied"
This is causing the net units in the year-over-year table to be inconsistent with the sum of each year's changes.

[2020-03-31 22:09] stumap opened #21 "BUILD_ENGINE DDL for postgreSQL server"
Is there an initial DDL script or a Postgres backup available to provide the initial structure for RECIPE_ENGINE or BUILD_ENGINE?

[2020-04-01 16:58] SPTKL commented on #21
+ BUILD_ENGINE can be an empty database, as long as it has postgis installed. Would recommend you looking into [postgis/postgis docker image](https://hub.docker.com/r/postgis/postgis), we use postgres 11 and postgis 2.5
+ for RECIPE_ENGINE, it's the same postgres database. and each dataset is loaded using the following repo (https://github.com/NYCPlanning/recipes), we have a cli tool that loads da

[2020-04-03 15:59] stumap commented on #21
Thank you, the postgis foundation worked with the recipes repo

[2020-04-03 15:59] #21 closed, assigned to SPTKL

[2020-04-06 15:46] AmandaDoyle opened #22 "20Q2 - Add corrections file and process for user feedback"
As data becomes more more available Planners may have corrections that should be researched and incorporated

[2020-04-06 20:36] SPTKL commented on #3
## 2020/04/06 meeting notes
+ YOY table
  + Main Use Case
     + multiplier (every 5 years, agreement with SCA)
  + Main Issue:
     + the YOY table is out of scope for HED to research
       + it's generated not using cleaned/edited data
       + class A class B distinction is __not__ captured in YOY table
     + as the code is written, it's not getting rigorous review
     + not the best for ana

[2020-04-06 20:40] SPTKL opened #24 "20Q2 - hny_manual_match: fix queries, performance issue"
`psql:sql/hny_manual_match.sql:77: ERROR:  canceling statement due to user request`

[2020-04-10 20:17] SPTKL commented on #3
## 2020/04/10 meeting notes

1. HED will rerun devdb
2. How to actually update DOB job application (weekly), CO too
   + how to set up a pipeline to get DOB data for CO (weekly)
3. a very simple dash board time series (2020), by week, number of permits, number of CO, number of status X dates. Maybe by geography. we really just need DOB applications data. all of 2019 and 2020 (seasonality)
4. stop

[2020-04-16 17:28] SPTKL commented on #3
## 2020/04/16 meeting notes -- WOS
- __temporal__:
  - pre-sandy/post-sandy
- __geography of interest__:
  - point data (centroid of the tax lots), flood plain
  - for really large lots, might cause issues --> PLUTO has flood plain flags (__pfirm__)
  - flood insurance is tied to the building not the lot. (might be most convenient to capture the building foot print)
- __other__:
  - housing variet

[2020-05-20 14:15] AmandaDoyle opened #25 "In latlong.sql should we be referencing dev_export?"
In latlong.sql should we be referencing dev_export?

[2020-05-27 16:26] AmandaDoyle opened #26 "20Q2 - QAQC - output jobs where occ_init or occ_prop suggests non-residential, but units_init/prop <> 0"
In QAQC sit output all records where ~occ_category = Other and units_init/prop <> 0~

[code]

[2020-05-27 18:27] AmandaDoyle commented on #6
Updated comment
update the logic for making occ_init or occ_prop = Residential for Demos, NBs, and Alterations
Residential buildings are being excluded from HousingDB because occ_category is Other and not Residential
Need to work with HED to develop this logic

[2020-05-27 18:35] AmandaDoyle opened #27 "20Q2 - Occupancy Code Master Issue"
# Goal

- [x]  If there is a value in the  classA, classB, and hotel units field make the occupancy code residential; Simplify residential categories.
- [x] `occ_init` -> `occ_initial`, `occ_prop` -> `occ_proposed`, `occ_category` -> `resid_flag`
- [x] Create commercial (and other use types?) flags #49
#52
- [x] empty lot -> empty site
https://github.com/NYCPlanning/db-developments/blob/c728f6d3f1

[2020-05-27 18:37] AmandaDoyle opened #28 "Add ClassB and Hotel units init and prop fields"
Add ClassB and Hotel units init and prop fields (4 fields total) to DevDB and HDB. Values for these fields will exclusively come from manual research

Question: Given that only a fraction of records will have these values are these fields really useful?

[2020-05-27 18:42] AmandaDoyle opened #29 "Complete_Year and Date_Complete should only have a value for records with a status that contains "Complete""
Update Complete_Year and Date_Complete aka co_earliest_effectivedate to only be populated for records with a status "Complete", "Complete (demolition)", or "Partial Complete"

[2020-05-27 18:44] AmandaDoyle opened #30 "20Q2 - Rename occ_category to residential_flag"
Change field name from occ_category to residential_flag

[2020-05-27 18:58] AmandaDoyle opened #31 "20Q2 - Improve removal of duplicate jobs"
Translated logic from comments below:

[code]

Based on HED criteria, implement logic to identify and remove duplicate job records

Current logic:
Remove records where the job number is the same
https://github.com/NYCPlanning/db-developments/blob/master/developments_build/sql/dedupe_job_number.sql

Identify potential duplicates
https://github.com/NYCPlanning/db-developments/blob/master/development

[2020-05-27 19:19] SPTKL commented on #3
# 2020/05/27 Kick off for 20Q2 update
- communication channel --> teams
- timing
   - 2 weeks
   - the sooner the better
   - hard deadline --> early mid June
- whenever we change a value in DevDB, it would need to be reported somewhere
  - why?
     - while doing manual research on records, it was unclear how the original data look like -> the end up at open data site to look for original number

[2020-05-28 13:50] td928 opened #32 "weekly devdb pull"
### Automate the weekly devdb update for the [real time web application](https://github.com/NYCPlanning/hed-real-time-devdb)

+  a new [branch](https://github.com/NYCPlanning/db-developments/tree/weekly-devdb) has been created with all proper parameters for running until end of 2020.

Please run the the following files

+  01_dataloading.sh
+ 02_build_devdb.sh
+ 03_build_yoyoco.sh
+ 04_build_hny.s

[2020-05-28 16:36] AmandaDoyle opened #33 "20Q2 - QAQC - Streamlit"
Create DevDB QAQC page
https://edm-data-engineering.nycplanningdigital.com/

Need input from HED on
1) what graphs to generate
2) what QAQC checks to run and create boolean fields to flag records

[2020-05-28 16:39] AmandaDoyle opened #34 "20Q2 - Create six aggregate tables"
See tables in the Schema - aggregate tables tab here
https://nyco365.sharepoint.com/:x:/s/NYCPLANNING/itd/edm/EUFKhsrhInBCuaIvIkwMr6wBgmjOVMugn6Dk_-1QwpYTBA?e=GNtm6a

Completed year is derived from status_q date for completed demolitions and first CO date for completed new buildings and alterations. If the job is incomplete, it is aggregated by job_status and inactive rather than year, according t

[2020-05-28 16:40] AmandaDoyle opened #35 "20Q2 - Do not classify complete jobs as inactive"
1. If `co_earliest_effectivedate` (date_complete) is not null then x_inactive should be null
2. Add to the QC table jobs where the correction is assigning "Inactive" in x_inactive flag AND the Date_LastUpdt is after the last vintage date (for example, in 20Q2, Date_LastUpdt would have to be >= 1/1/2020).

Note: `x_inactive` -> `job_inactive` #52

[2020-05-28 16:49] AmandaDoyle opened #36 "20Q2 - x_mixeduse classification improvement"
# Goal
Current logic:
https://github.com/NYCPlanning/db-developments/blob/c728f6d3f171cfcca6cc7f56b240f6853e6554a5/developments_build/sql/x_mixeduse.sql#L1-L7

Improved logic:
(in progres ...)

[2020-05-28 16:51] AmandaDoyle opened #37 "20Q2 - QAQC investigate why withdrawn records have a value in date_complete"
28 records that are withdrawn alterations have a value in the date_complete field, but there is no CO associated with the job. What's happening?

[2020-05-28 16:55] AmandaDoyle opened #38 "20Q2 - Recode status categories"
# Goal:
## New categories
1. Filed
2. Plan Examination
3. Permitted
4. Partial Complete
5. Complete
9. Withdrawn

## Action:
Update `housing_input_lookup_status.csv` with above categories

<details>
<summary> New lookup table</summary>

DOB Status | DCP Recode 19Q4 | DCP Recode 20Q2
-- | -- | --
A | Filed | 1. Filed
A/P ENTIRE | Filed | 1. Filed
AP-NPE | Filed | 1. Filed
APPLICATION ASSIGNED TO PL

[2020-05-28 19:28] SPTKL opened #39 "20Q2 - Master Issue"

[2020-05-28 19:56] AmandaDoyle opened #40 "20Q2 - Change logic for marking demos as complete and associated date logic"
# Goal:

- [x] 1. Make status Complete for demolition if it has a value in Date_StatusX (`status_x`)
- [x] 2. Populate Complete_Year (`year_complete`) field the year in the field Date_Permittd (`status_q`) for demolitions
- [x] 3. Populate Date_Complete (`status_date`) field the year in the Date_Permittd for demolitions

# Relevant Files:
+ [year_complete.sql](https://github.com/NYCPlanning/db-dev

[2020-05-28 19:57] AmandaDoyle opened #41 "20Q2 - update inactive logic for Demolitions"
# Goal:

in addition to current logic:
if 1 year passes after `Date_Permittd` and it still does not have a `Date_StatusX`, then it should be marked as`Inactive`

# Relevant Files:
[x_inactive.sql](https://github.com/NYCPlanning/db-developments/blob/master/developments_build/sql/x_inactive.sql)

[2020-05-28 20:04] #39 closed, assigned to nobody

[2020-05-28 20:07] AmandaDoyle opened #42 "20Q2 - Update occupancy codes"
Related to issue #27

Occupancy code values come from here
https://github.com/NYCPlanning/db-developments/blob/master/developments_build/data/housing_input_lookup_occupancy.csv

Code to assign occupancy code is here
https://github.com/NYCPlanning/db-developments/blob/master/developments_build/sql/occ_.sql

[2020-05-28 20:08] AmandaDoyle opened #43 "20Q2 - Rename "housing input research" table to "Manual Corrections Table.""
Rename "housing input research" table to "Manual Corrections Table"

[2020-05-28 20:11] AmandaDoyle opened #44 "20Q2 - Create owner_name"
Create owner_name by concatenating owner_lastnm and owner_firstnm, separated by a comma and space.  Delete owner_lastnm and owner_firstnm.

For example,  "John"|"Doe" in two fields, we would show "Doe, John" in a single field.

[2020-05-28 20:15] AmandaDoyle opened #45 "20Q2 - (REVERSE) Clean up address_number values"
~~Some address_number values contain "GAR," "GARAGE," "REAR," or leading 0s.  Remove these invalid characters~~

## Update as of 2020/06/12
Reverse this issue

[2020-05-28 20:17] AmandaDoyle opened #46 "20Q2 - Null out job descriptions that are just special characters"
Where a job description is only special characters (Non letter characters), null out the value

[code]

[2020-05-28 20:23] AmandaDoyle opened #47 "20Q2 - Add fields from DHCR rent stabilization data"
Join data by BBL after running through DOF PLUTO condo bbl to bbl lookup

Field | Alias | Description
-- | -- | --
DHCR_Flag | NYS DHCR Rent Regulated Building | Flag = true if rent regulated units exist on the parcel (according to 2017 DHCR list)
DHCR_Class | NYS DHCR Class A or B Building | Indicates if the rent regulated units are Class A or Class B (according to 2017 DHCR list)
DHCR_Desc | NYS

[2020-05-28 20:49] AmandaDoyle opened #48 "20Q2- Add fields from Furman Center Core"
Join on BBL after using DOF file to convert condo base lot to billing lot

Field | Alias | Description
-- | -- | --
SubsidyExp | Subsidy Expiration Date | When the last subsidy is set to expire
TaxIncntv | Tax Incentives | Tax incentives (value is filled with concatenated list of programs)
Financing | Financing and Land Subsidies | Financing (value is filled with concatenated list of programs)

Ne

[2020-05-28 21:00] AmandaDoyle opened #49 "20Q2 - Create nonres_flag resid_flag"
**Check that the creation of `nonres_flag` and `resid_flag` are reflected downstream**

 HED logic:

- `nonres_flag` should replace `x_mixeduse`
- set `nonres_flag` to "Non-Residential" if:
     - `resid_flag` is null (note that `occ_category` is being renamed to `resid_flag` and values of "Other" are being recoded as null.)
     - if `job_desc` contains the strings listed in the table below

[2020-05-28 21:01] AmandaDoyle opened #50 "20Q2 - Recode landmark, enlrg_horiz, enlrg_vert, loftboardcert, edesignation, curbcut"
Recode all flag type fields so they're consistent.
- For values in landmark, enlrg_horiz, enlrg_vert, loftboardcert, recode `N -> null; Y -> Yes`.
- For values in edesignation, recode `N -> null; Y or H -> Yes`.
- For values in curbcut, recode `X -> Yes`.

### edesignation
+ N -> null
+ Y, H -> Yes
+ X, M - ? (@kschmidtDCP  @levysamu, need input here)

### landmark
+ N -> null
+ Y -> Yes
+ C, L ->

[2020-05-28 21:12] AmandaDoyle opened #51 "20Q2 - Add Complete_Qrtr and Permit_Qrtr fields"
Add Complete_Qrtr and Permit_Qrtr fields formatted as `2020Q1, 2020Q2 ...`

Field name (13 char max) | Field name (10 char max) | Field name alias | Description
-- | -- | -- | --
Complete_Qrtr | CompltQrtr | Completed Quarter | The year and quarter a job was completed. Follows the same logic as Complete_Year
Permit_Qrtr | PermitQrtr | Permitted Quarter | The year and quarter the job was permitted.

[2020-05-28 21:15] AmandaDoyle opened #52 "20Q2 - Output DevDB in new schema"
## Change in code base:

### Left to do

### Done
In open PR #139 -- these are mapped at export
- [x] Put fields in correct order and remove intermediate fields #131
- [x] geo_boro -> boro where possible (Only at export, since boro is an existing field)
- [x] geo_address_numbr -> address_numbr where possible (Only at export, since address_numbr is an existing field)
- [x] geo_address_street -> add

[2020-05-28 21:17] AmandaDoyle opened #53 "20Q2 - make date formatting consistent across date fields"
Change `Date_Complete` and `Date_Permittd` to have "-" and not "/" and remove timestamp from Date_LastUpdt

[2020-05-28 21:19] AmandaDoyle commented on #7
Request zoning sqft data by use type from DOB

[2020-05-28 21:23] AmandaDoyle opened #54 "20Q2 - Combine Vertical and Horizontal Enlargement fields into a single Enlargement field"
Combine Vertical and Horizontal Enlargement fields into a single Enlargement field. It should be populated with "Enlrg_Horiz", "Enlrg_Vert", or "Enlrg_Horiz and Enlrg_Vert"

[2020-06-01 14:11] SPTKL opened #55 "20Q2 - explain/remove csv files from developments_build/data"
# Files

Name | comments
 -- | --
corrections_qc_outliers.csv | what is this?
housing_input_dcpattributes.csv | research files, can we consolidate?
housing_input_hny.csv |  research files
housing_input_hny_job_manual.csv |  research files
housing_input_lookup_occupancy.csv |  research files
housing_input_lookup_status.csv |  research files
housing_input_removals.csv |  research files
housing_input

[2020-06-01 15:10] mgraber opened #56 "20Q2 - Rename scripts"
+ jobnumber.sql initally populates 52 attributes of the table named `developments` with data from `dob_jobapplications`, not just the job number

[2020-06-01 15:12] SPTKL commented on #56
we should combine jobnumber.sql and create.sql, e.g.
[code]

[2020-06-01 15:14] SPTKL commented on #56
I started a draft here
[code]

there are a lot of weird data cleaning procedures in the following scripts that can be incorporated into the create script

[2020-06-01 15:58] SPTKL commented on #56
and we should enforce schema early on, e.g. make sure all the units fields are numeric to begin with and make sure all data cleaning is handled in the "create" script

[2020-06-01 16:02] AmandaDoyle opened #57 "20Q2 - output QAQC table where there is spatial overlap between NBs and Demos"
# Goal

Output records where a `NB` spatially intersects with a `DM` job.  There is no date constraint.

Data Engineering needs to decide if we do
1) BBL polygon intersection spatial join
or
2) 2 point to polygon spatial joins

This would be similar to the KPDB cluster review output tables.  This would be a QAQC table used for research work.

[2020-06-01 16:07] AmandaDoyle opened #58 "20Q2 - Request zoning sqft data by use type from DOB"
Request zoning sqft data by use type from DOB.  This would be additional fields in the output.  TBD how we'd get information

[2020-06-01 16:09] AmandaDoyle opened #59 "20Q2 - Update process for getting spatial data attributes (i.e. political boundaries)"
# Goal:
+ If we get a return from Geosupport use Geosupport, otherwise use spatial join.
+ Use spatial joins for list of fields that are not in Geosupport.

[2020-06-01 16:14] AmandaDoyle opened #60 "20Q2 - populate DCPEdited field with list of fields that were edited on the record"
Get list of fields that were edited for that record in the manual research table

[2020-06-01 16:19] AmandaDoyle opened #61 "20Q2 - spatially join DOB job with zoning at time of application filing"
Create the process of joining DOB job with zoning district to get the zoning district at the time of the application filing.  Would require loading of all zoning shapefiles dating back to earliest application filing date.

The workflow would either be to fill in NULL DOB zonedist values or overwrite DOB zonedist

[2020-06-01 16:22] AmandaDoyle opened #62 "20Q2 - QAQC flag when BBL and census tract disagree between Geosupport and spatial join"
# Goal:
In QAQC report that flags records, records would be flagged if the GeoSupport and spatial join values disagree for record for a set of attributes.  Need finalized list of attributes from HED.

- BBL
- census tract

[2020-06-01 16:25] AmandaDoyle opened #63 "20Q2 - order of operations for creating point geometry"
# Goal:

1) Take geometry from using DoITT building footprints point using `dob_bin` as a join_key
2) Take geometry from using DoITT building footprints point using `geo_bin` as a join_key
3) Then take lat / long from BBL point via GeoSupport
4) Lastly, take BBL centroid from shoreline clipped MapPLUTO

# Current Logic:
1. take lat lon from geosupport (AP + 1B)
2. Backfill using Mappluto, using ge

[2020-06-01 16:27] AmandaDoyle opened #64 "20Q2 - Recode City Owned, Owner Type, Non-Profit into a single field"
# Goal:
Recode Job Application Filings fields:

+ City Owned (Y, M, I, NULL)
+ Owner Type
+ Non-Profit (Y, N)

into a single field in the DevDB called `Ownership`

<details>
<summary>Ownership lookup: </summary>

cityowned | owner_type | owner_nonprof | Ownership
-- | -- | -- | --
Y |   | For Profit | Government, City: Unspecified
Y |   | Non-Profit | Government, City: Unspecified
Y | CORPORATION

[2020-06-01 16:28] AmandaDoyle opened #65 "20Q2 - Don't zero out units_prop for DM"
Need logic from HED

[2020-06-01 17:06] mgraber commented on #56
This is a big improvement. The column mapping between the input data and developments is more legible, too.

[2020-06-01 17:24] mgraber opened #66 "When applying input research edits, avoid multiple update statements"
In dcpattributes.sql, binary flags first get set to TRUE using an UPDATE statement. Then, an additional UPDATE statement converts the TRUE into a string.

[2020-06-01 17:29] kschmidtDCP commented on #6
This issue appears to have been resolved in 19Q4. In 19Q4 DevDB there are no records for which occ_category = Other AND (units_init <> 0 OR units_prop <> 0).

[2020-06-01 17:33] levysamu commented on #47
The pdfs are under the section titled NYC Rent Stabilized Building Listings of the website below:

https://rentguidelinesboard.cityofnewyork.us/resources/rent-stabilized-building-lists/

If you want us to convert the pdfs to excel, let us know.

[2020-06-01 17:50] levysamu commented on #48
Yes it is the right dataset. Outstanding issues are:

- [ ] logic for when to make joins
- [ ] logic for how to populate fields in DevDB

[2020-06-01 19:14] AmandaDoyle commented on #6
Reopening to move logic to upstream.  This was implemented as a last min fix

[2020-06-01 20:57] kschmidtDCP commented on #65
If job_type = Demolition and units_prop is null, then set units_prop = 0.
If job_type = Demolition and units_prop > 0, then add those records to the QC table and flag as "DM with units_prop" (or something like that).

[2020-06-01 21:12] SPTKL opened #67 "Fields referred before assignment"
https://github.com/NYCPlanning/db-developments/blob/bd2479fdc23c5d110bd9cc64c52840407b7aa328/developments_build/sql/occ_.sql#L67

Units net referred before values assigned

[2020-06-01 21:57] AmandaDoyle commented on #58
@levysamu @kschmidtDCP
To help us make this ask, can you point us to where this information is available / how you think DOB has this information?  Is it on the paper DOB job application?  We're going to ask our contact at MODA and follow-up with you

[2020-06-02 13:54] levysamu commented on #58
There are two areas in BIS that I can think of where this information is kept. The first is in section 12 of the permit page. It is called Zoning Characteristics. This section has a lot of potentially useful information including proposed square footage by use (broadly speaking) and parking information (which is also frequently requested and would be tremendously valuable). The second area is the

[2020-06-02 14:14] levysamu commented on #7
Duplicate of #58.

[2020-06-02 14:25] SPTKL commented on #65
[code]

[2020-06-02 14:43] SPTKL commented on #19
#27

[2020-06-02 14:43] #19 closed, assigned to SPTKL

[2020-06-02 14:43] SPTKL commented on #67
#27

[2020-06-02 14:44] SPTKL commented on #6
#27

[2020-06-02 14:47] SPTKL commented on #50
#16

[2020-06-02 15:28] mgraber opened #68 "20Q2 - HNY Master Issue"
## Overview of the HNY workflow:
### Outstanding issues:
+ Determine benefit of including spatial matching: #85
### Goal
Match records from `hpd_hny_units_by_building` with the DOB records in `developments`, in order to merge on columns related to the number of affordable units.

### Challenge
+ The relationship between `hpd_hny_units_by_project` records and `developments` records are not one-to-o

[2020-06-02 16:13] levysamu commented on #49
This is an alternative to #58.

[2020-06-02 17:48] AmandaDoyle commented on #34
Need to discuss with POP if we can get / use adjusted housing count for public use

[2020-06-02 18:56] SPTKL commented on #67
When incorporating corrections from research table, multiple flag fields are referred before values are even assigned, consider changing order

https://github.com/NYCPlanning/db-developments/blob/master/developments_build/sql/dcpattributes.sql

[2020-06-02 18:59] levysamu commented on #64
See the attached document for the recode table. I can walk you through the logic of how I assigned things if that would be more helpful. Not sure whether it makes more sense to do this through a table or logic.

[OwnershipStructureRecode.xlsx](https://github.com/NYCPlanning/db-developments/files/4719088/OwnershipStructureRecode.xlsx)

[2020-06-02 19:34] levysamu commented on #36
Related to #58 and #49. Instead of this field, we will most likely have a flag or flags for uses that are present in the job, similar to the residential flag.

[2020-06-02 21:01] AmandaDoyle commented on #58
@levysamu thanks for this.  LS is going to talk with MODA on Friday.  We'll keep you up to date on progress

[2020-06-03 14:24] mgraber commented on #53
We have some date standardization logic implemented in kpdb, which might be relevant here.

[code]

[2020-06-03 15:32] AmandaDoyle opened #69 "20Q2 - Insert records where the unit count is programmatically changed into manaual corrections"
Output records where the original data values has been programmatically changed for the following fields:
- ClassAInit,
- ClassAProp,
- ~HotelInit~ **This does not get programmatically changed**
- ~HotelProp~ **This does not get programmatically changed**
- ~OtherBInit~ **This does not get programmatically changed**
- ~OtherBProp~ **This does not get programmatically changed**
Except for NB record

[2020-06-03 17:12] AmandaDoyle commented on #64
@levysamu thanks for sharing.  I think a lookup table probably makes the most sense for this.  I think the logic is straightforward, but we'll reach out with any questions after diving in

[2020-06-04 12:29] mgraber commented on #52
Currently, the order and column names get "fixed" as a last-minute step in export.sql, when creating `developments_export` from `developments_hny`. Move the establishment of the desired schema upstream so that this doesn't need to happen.

[2020-06-04 18:18] AmandaDoyle commented on #68
I agree with all suggested changes

[2020-06-04 18:30] SPTKL opened #70 "20Q2 - Streamline spatial join"
# STEP: 2 build devdb
Instead of using 10 update statements

[2020-06-04 21:19] levysamu commented on #34
@AmandaDoyle, we have received permission to use their count. We have the data already, but we need to format it (as well as all of the normal census counts) for EDM to use.

[2020-06-05 18:35] kschmidtDCP commented on #34
- Census housing counts, both adjusted and unadjusted are available [here](https://nyco365.sharepoint.com/:x:/r/sites/NYCPLANNING/hed/Shared%20Documents/01%20Projects_active/Housing%20(only%20current%20items)/20Q2/HDB%20Aggregate%20Table%202010%20Census%20Units.xlsx?d=webdd444034084394a5c2accf5b231964&csf=1&web=1&e=zoTqim). Can EDM aggregate census block to **city council and community districts?*

[2020-06-05 19:47] kschmidtDCP commented on #31
Current logic to remove records where the job number is the same should remain unchanged:
https://github.com/NYCPlanning/db-developments/blob/master/developments_build/sql/dedupe_job_number.sql

To our knowledge, possible duplicates with different job numbers are not removed - instead they are flagged as inactive through manual research. Please confirm. We would like to use this logic instead for

[2020-06-05 20:03] levysamu commented on #33
See below for our initial thoughts on the QAQC page and flags for QAQC checks. We will go over it on Monday and update/clarify as needed.

https://nyco365.sharepoint.com/:w:/s/NYCPLANNING/hed/EZKDzZEUsBVDgCfiMj_VwgIBJFwPNHbUKM4vIoVfqYJlfw?e=f98Wuz

[2020-06-08 13:19] SPTKL opened #71 "20Q2 - OCC 1968 Occupancy code look up not unique"
# Query:
[code]
# Results:
<details>
<summary>All lookup</summary>

doboccupancycode1968 | dcpclassificationnew
-- | --
A | Industrial, Storage & Utilities
B-1 | Industrial, Storage & Utilities
B-2 | Industrial, Storage & Utilities
C | Retail
COM | Commercial
D-1 | Industrial, Storage & Utilities
D-2 | Industrial, Storage & Utilities
E | Commercial
F-1A | Leisure & Entertainment
F-1B | Assembly: O

[2020-06-08 14:12] SPTKL opened #72 "20Q2 - Clarification on Multiple CO issued"
# Query

https://github.com/NYCPlanning/db-developments/blob/c728f6d3f171cfcca6cc7f56b240f6853e6554a5/developments_build/sql/co_.sql#L25-L43

# Need Clarification
I'm not sure what is the purpose of the code above.
my understanding is say we have `job_number = 12345`, we have 2 COs on its `co_latest_effectivedate`
1. If one is `C-CO` and one is `T-CO`, then change `T-CO` to `C-CO`, table `co_lates

[2020-06-08 15:07] AmandaDoyle commented on #72
@SPTKL
Here's the logic
If there are records with the same `job_number` and 'max(effectivedate)' in 'developments_co' take the information from the records that is a `C-CO` if it has one.

There are shortcoming in stabilizing the logic because it does not account for scenarios where
`job_number` and 'max(effectivedate)' and CO type are not unique.

The CO type is not changed from `T-CO` to `C-CO`

[2020-06-08 17:16] SPTKL commented on #46
@AmandaDoyle  need examples here, what are the special characters? and how to catch them

[2020-06-08 17:18] SPTKL commented on #42
repeated issue #71

[2020-06-08 17:25] SPTKL commented on #53
maybe all dates should have `date` as datatype, and we apply formating in the end when we export

[2020-06-08 17:25] #56 closed, assigned to nobody

[2020-06-08 17:28] SPTKL commented on #45
@AmandaDoyle  These are valid address suffixes for Geosupport, why should they be removed? Address is also used for deduplication purposes.
https://github.com/NYCPlanning/db-developments/blob/c728f6d3f171cfcca6cc7f56b240f6853e6554a5/developments_build/sql/occ_.sql#L88-L101

## Update:
Since we are no longer computing anything garage related for occ fields, we can go ahead with making this change

[2020-06-08 17:31] SPTKL commented on #36
`x_mixeduse` is used for calculating `units_init`, `units_prop`

[2020-06-08 17:35] SPTKL commented on #41
@AmandaDoyle
Is this an addition to the current logic or a replacement of current logic?

[2020-06-08 17:53] SPTKL opened #73 "20Q2 - new export script that clarifies column mapping"
# Goal:
the current create, insert, select method is hard to keep track which field is mapped to which. we need to do a complete rewrite of the export.sql

# Relevant Files:
[export.sql](https://github.com/NYCPlanning/db-developments/blob/f20015feb728cea164460177626aac9d1f5a99cd/developments_build/sql/export.sql)

[2020-06-08 18:27] SPTKL commented on #59
In Progress ...
https://github.com/NYCPlanning/db-developments/blob/refactor-baiyue/developments_build/sql/_spatial_joins.sql

[2020-06-09 13:49] AmandaDoyle commented on #72
@SPTKL
Reviewing [_co.sql](https://github.com/NYCPlanning/db-developments/blob/refactor-baiyue/developments_build/sql/_co.sql)

Question:
Why not use `min` and `max` functions for getting the earliest and latest CO dates, instead of shorting?

Currently, _co.sql doesn't take into account scenarios where job_number and effective date are not unique.  I think to give stability to the script we need

[2020-06-09 14:20] SPTKL commented on #72
It does take it into account where job_number and effective date are not unique
this is what the following is for
[code]
The logic for multi-co issued and pick C-CO is not implemented yet at this moment because there aren't any current cases where C-CO and T-TCO are present on the co-latest-effectivedate. It's still in progress

## Update:
Current logic will add a new helper field -- `certorder`
[

[2020-06-09 14:57] SPTKL commented on #70
move issue to #59

[2020-06-09 14:57] #70 closed, assigned to SPTKL

[2020-06-09 15:00] SPTKL commented on #57
@AmandaDoyle Need Clarification: Which `date` field are we supposed to be using here for this qaqc process

[2020-06-09 15:03] AmandaDoyle opened #74 "Reviewing spatial attributes feedback"
# Goal:
Looking at the spatial attributes outlined in the schema here are some action items:

- [x] Need to create geo_ntacode2010 to NTAName2010 lookup

- [x] The following can and should be returned by GeoSupport
PUMA2010
FireCompany
FireBattalion
FireDivision

- [x] The following can only come from spatial joins
SchoolSubDist
SchoolElmntry
SchoolMiddle

# Relevant Files:
+ this would be a chang

[2020-06-09 15:06] AmandaDoyle opened #75 "Move DEDUPLICATION and CORRECTIONS out of _spatial_joins.sql"
It's not intuitive for these steps be in _spatial_joins.sql

[2020-06-09 15:23] SPTKL commented on #75
1. Duplication is done here because this is the first script where the main table has the field `geo_bbl`, which the deduplication requires
2. Corrections is also done here because this is the first script where we have `geo_bbl`

It makes sense because spatial_join spits out `INIT_devdb`, which has all the fields + geospatial fields, and the output -- `INIT_devdb` has job_number as unique key, an

[2020-06-09 15:26] AmandaDoyle opened #76 "Confirm: Occupancy code - if the status A date is before 2008, but the occupancy code matches a 2008 occupancy code that we translate using the 2008 occupancy code"
We want to confirm with HED that if the status A date is before 2008, but the occupancy code value matches a 2008 occupancy code that we translate using the 2008 occupancy code value.

For example, job 500403912 has a status_a date of 01/14/2000, but the original occupancy code is B-2, which is a 2008 occupancy code.  So instead of leaving the occupancy as NULL we'll take the matching value.  Is t

[2020-06-09 15:33] SPTKL commented on #76
## Previous logic:
1. for status_a later than 2008, use 2008 lookup
2. for  status_a before than 2008, use 1968 lookup
3. fill the rest with 2008 lookup if matched (regardless of date)
4. fill the rest with 1968 lookup if matched (regardless of date)

https://github.com/NYCPlanning/db-developments/blob/c728f6d3f171cfcca6cc7f56b240f6853e6554a5/developments_build/sql/occ_.sql#L4-L24

[2020-06-09 15:58] SPTKL commented on #51
@AmandaDoyle
how should this field be formatted?
e.g. 2020.1, 2020.2 ...
or 2020Q1, 2020Q2 ...
or 20Q1, 20Q2 ...

[2020-06-09 18:19] mgraber opened #77 "Do not feed job_description and status_date through GEOM_ tables"
In \_geo.sql, each intermediary GEO\_ table has the job_description and status\_date fields from DRAFT and/or the previous GEO\_ table. These do not get updated in the process of assigning geometries. Once all geometry assignments are complete, the table GEOM_dtm_dob gets all attributes from DRAFT anyway.
Remove:
[104-105](https://github.com/NYCPlanning/db-developments/blob/refactor-baiyue/develop

[2020-06-09 18:25] mgraber commented on #75
@SPTKL Part of the corrections removes records when the field is 'bbl' and the new value is NULL. Why do we use this to indicate a removal, rather than the typical method of field 'remove'? Our typical logic would have this result in replacing whatever the current BBL is with an empty BBL.
In what cases does this sort of removal happen?

[2020-06-09 18:30] SPTKL commented on #75
In previous code, we use the corrections table to remove job_number-bbl combos
https://github.com/NYCPlanning/db-developments/blob/c728f6d3f171cfcca6cc7f56b240f6853e6554a5/developments_build/sql/dedupe_job_number.sql#L16-L22

[2020-06-09 18:35] mgraber commented on #27
@SPTKL  Finding new building addresses that have both a garage and non-garage job use `address||'-'||_units_prop::text` as the unique ID in _occ.sql. Are units_prop reliably the same between the garage and non-garage record in cases where both exist? Does this constraint miss cases?

[2020-06-09 18:52] SPTKL commented on #77
good catch, thanks!

[2020-06-09 18:55] AmandaDoyle commented on #51
`yyyyQQ`
So 2020Q1, 2020Q2 ...

[2020-06-09 19:02] #77 closed, assigned to SPTKL

[2020-06-09 19:08] AmandaDoyle commented on #63
Based on our conversation today I think it's important, but would like confirmation from @levysamu and @kschmidtDCP since this is labeled as "nice to have"
How important is it to map to the building footprint?

[2020-06-09 19:10] AmandaDoyle commented on #57
@levysamu @kschmidtDCP Should we compare using the status_a date?

So a NB job can only join to a DM jobs that it spatially intersects with if teh status_a date of the NB job is later than the status_a date of the DM job?

[2020-06-09 19:27] SPTKL commented on #27
~~I guess using `address||'-'||_units_prop::text` is a more conservative unique key? we assume that jobs with the same address and units_prop are the same project.~~

[2020-06-09 19:28] AmandaDoyle commented on #41
This replaces the existing logic
@levysamu @kschmidtDCP can you confirm?

[2020-06-09 19:30] AmandaDoyle commented on #18
I don't think this issue is still valid
@kschmidtDCP can you confirm?

[2020-06-09 21:24] kschmidtDCP commented on #18
Two options:

1. Fix geosupport and then always use geosupport to determine geographic identifiers. This would require GRU to investigate why geosupport is returning a different tract from spatial join and fix problems. (Check out BBLs as examples: 5047210046, 3086310021.)

2. Keep existing code to work around geosupport errors.

[2020-06-09 21:25] levysamu commented on #18
See below for screenshots of the 3086310021 example that Kristina mentioned above. Geosupport said that the BBL was in 702.01 and spatial join correctly said that the BBL was in 706.

![Screen Shot 2020-06-09 at 5 20 56 PM](https://user-images.githubusercontent.com/17015121/84201688-0c73cd00-aa76-11ea-9188-8f5648b225ad.png)

![Screen Shot 2020-06-09 at 5 21 11 PM](https://user-images.githubusercon

[2020-06-09 22:00] AmandaDoyle commented on #18
@kschmidtDCP @levysamu
I think we need to talk about this as well tomorrow, because this changes the geocoding logic that has been outlined in other issues

[2020-06-09 22:13] AmandaDoyle opened #78 "Does HNY_matches table need to be created in _hny.sql?"

[2020-06-09 22:17] kschmidtDCP commented on #27
Use this table to recode occ_init and occ_prop. It fixes the duplicate issue and addresses our desire for better categories.
https://nyco365.sharepoint.com/:x:/r/sites/NYCPLANNING/hed/Shared%20Documents/01%20Projects_active/Housing%20(only%20current%20items)/20Q2/Occupancy%20Recode%2020Q2.xlsx?d=w60d8c706cb72475a94b11d6274e26f02&csf=1&web=1&e=w16ub2

HED has many comments on the utility of the old

[2020-06-09 22:20] kschmidtDCP commented on #41
This is in addition to the current logic. Demolitions should still be marked inactive according to the existing logic if they haven't been permitted.

[2020-06-09 22:24] kschmidtDCP commented on #63
Note: need to discuss 2010 (or earliest available version) of building footprints shapefile as potential additional join option. This is important for accurately geocoding demolished buildings.

This shapefile has footprints and BINs for apparently demolished buildings - could be perfect for this task: https://data.cityofnewyork.us/Housing-Development/Building-Footprints-Historical-Shape/s5zg-yzea

[2020-06-10 12:28] mgraber commented on #78
@AmandaDoyle  Do you mean does HNY_matches need to be exported as a table at all? Or do you mean that _hny.sql isn't the appropriate place for it to get exported?

[2020-06-10 12:45] mgraber commented on #73
#52

[2020-06-10 12:46] mgraber commented on #52
#73

[2020-06-10 12:51] mgraber commented on #28
#52

[2020-06-10 13:35] AmandaDoyle commented on #41
@SPTKL Confirming: in addition to current logic

[2020-06-10 13:43] AmandaDoyle commented on #78
Sorry for the ambiguity.  When I tried to run the queries, I received the error that 'HNY_matches' does not exist, so I was wondering if somewhere in the script 'HNY_matches' needs to get created.  This may not be an issue and I may have just missed something

[2020-06-10 13:47] kschmidtDCP commented on #76
We want to talk about this today, since Sam and I found that status A date before or after 2008 is not a good predictor if whether the occupancy code uses the 2008 or 1968 lookup. The new occupancy code lookup table we added in issue #27 collapses the 1968 and 2008 codes to make the previous logic unnecessary.

[2020-06-10 13:54] SPTKL opened #79 "20Q2 - Spatial Attributes Master Issue"
# Logic:
+ geocode addresses, if an address in pad not in tpad, then take everything (lonlat, spatial boundaries)  from geosupport
+ **if an address in tpad or failed to geocode** #63
1. Take geometry from using DoITT building footprints point using dob_bin as a join_key
2. Take geometry from using DoITT building footprints point using geo_bin as a join_key
3. Lastly, take BBL centroid from shorel

[2020-06-10 13:55] kschmidtDCP commented on #57
@AmandaDoyle  We'll meet today to clarify the overall plan for joining NBs and DMs, however, to answer your question:

Some developments pull DM and NB permits concurrently, and there may even be instances where the DM is pulled slightly after the NB. They should join if the NB status_a date is up to x months before the DM status_a date, or anytime afterwards. Sam and I will discuss the value of x

[2020-06-10 14:15] #42 closed, assigned to nobody

[2020-06-10 14:17] kschmidtDCP commented on #36
@SPTKL @AmandaDoyle Thank you for pointing that out. I'm uncomfortable with using x_mixeduse to automatically change units. I think we should move the code that overwrites units_init and units_prop as a function of x_mixeduse (or whatever this field becomes in the future) to a QC table.

[2020-06-10 14:24] #76 closed, assigned to nobody

[2020-06-10 14:43] SPTKL commented on #71
this issue is moved to #27, under the new workflow, this issue is no longer relevant

[2020-06-10 14:43] #71 closed, assigned to SPTKL, levysamu, kschmidtDCP

[2020-06-10 14:44] #67 closed, assigned to nobody

[2020-06-10 14:48] mgraber opened #80 "Use match_priority when resolving one job to many hny"
Currently only used in the reverse.

[2020-06-10 14:54] SPTKL opened #81 "20Q2 - MID_devdb consolidation"
# Goal

- consolidate `x_reason` and `x_dcpedited` field
- verbose every single field names

[2020-06-10 15:40] #73 closed, assigned to SPTKL

[2020-06-10 15:45] mgraber commented on #80
Fixed in refactor-hny branch.

[2020-06-10 15:45] #80 closed, assigned to mgraber

[2020-06-10 15:58] mgraber commented on #68
Differences between old and new workflows can be found by querying old build engine:

[code]

[2020-06-10 17:12] AmandaDoyle commented on #57
For spatial join
BBL polygon intersection
or
2 point to polygon intersections

[2020-06-10 17:40] AmandaDoyle commented on #18
Decision logic on how to assign political boundary values:
1) If bbl area from PLUTO is over 300,000 sq ft take political values from GeoSupport (second, option is to maintain list of BBLs where values come from GeoSupport).
2) Otherwise take value spatially

[2020-06-10 17:42] AmandaDoyle commented on #59
closing because this is issue #18

[2020-06-10 17:42] #59 closed, assigned to SPTKL

[2020-06-10 18:03] #6 closed, assigned to SPTKL

[2020-06-10 18:05] #78 closed, assigned to mgraber

[2020-06-10 18:18] mgraber opened #83 "20Q2 - Find stable hny_id"
Currently a hash that depends on geosupport fields. As a result, the ID isn't stable over time.

Using 3 versions of the hny data, the project_id and building_id are a unique combo, despite some NULL building_ids. We also identified the subset of the HNY data where the attributes we use didn't stay the same between versions if I merge on project_id & building_id (see Teams).

We would like confirm

[2020-06-10 18:44] #65 closed, assigned to nobody

[2020-06-10 18:54] #25 closed, assigned to nobody

[2020-06-10 19:16] mgraber opened #85 "20Q2 - Determine marginal benefit of spatial hny match"
Spatial matches are the third-priority. For the sake of improving efficiency of the hny workflow, determine how many matches would not occur using the BIN and/or BBL.

[2020-06-10 19:29] SPTKL commented on #81
change of approach:
create CORR_devdb table to log specifically x_reason and x_dcpedited fields
this will no longer be an issue

[2020-06-10 19:29] #81 closed, assigned to SPTKL

[2020-06-10 19:30] SPTKL commented on #75
closing for now and revisit in the future, since it doesn't interfere with final outcome

[2020-06-10 19:30] #75 closed, assigned to SPTKL

[2020-06-10 19:32] mgraber commented on #30
Issue is covered in #52

[2020-06-10 19:32] #30 closed, assigned to nobody

[2020-06-10 19:36] mgraber commented on #66
This is getting refactored anyway.

[2020-06-10 19:36] #66 closed, assigned to nobody

[2020-06-10 20:22] kschmidtDCP commented on #83
Based on  your analysis, I'm fairly certain we can treat the Project ID and Building ID together as a stable unique ID. I'm waiting for confirmation from HPD, but I think can proceed without waiting for them.

Does it make sense to output a QC table for HNY records that have an attribute change from the previous version? (Like the table of 8 records @mgraber shared on Teams.) It would only take a

[2020-06-10 20:35] #72 closed, assigned to AmandaDoyle, SPTKL

[2020-06-10 20:36] #43 closed, assigned to nobody

[2020-06-10 20:36] levysamu commented on #83
Along the same lines, it would make sense to output HNY records that share the same unique id if there are any in order to determine what to do with them.

[2020-06-10 20:44] SPTKL commented on #38
@levysamu  @kschmidtDCP can we have an updated housing_input_lookup_status table to match the new categories, thanks!

[2020-06-10 22:01] kschmidtDCP commented on #38
@SPTKL Here's the new lookup table:
https://nyco365.sharepoint.com/:x:/r/sites/NYCPLANNING/hed/Shared%20Documents/01%20Projects_active/Housing%20(only%20current%20items)/20Q2/Status%20Recode%2020Q2.xlsx?d=w7c4267bc5d654d4cafb5dbf5d7ee2683&csf=1&web=1&e=eVABgY

Note that status "4. Partial Complete" isn't included in this table because that status is assigned elsewhere, not from the DOB status.

[2020-06-11 12:36] #38 closed, assigned to SPTKL, levysamu, kschmidtDCP

[2020-06-11 12:52] SPTKL commented on #35
@kschmidtDCP @levysamu
Should this overwrite corrections as well?
there are cases where jobs have a co_earliest_effectivedate, but the correction is assigning an "Inactive" in x_inactive flag.

[2020-06-11 13:04] #28 closed, assigned to mgraber

[2020-06-11 13:37] mgraber commented on #53
The predominant date format in the source data is MM/DD/YYYY. Automatic type casting as date does not work, however, since there are several invalid dates. Within columns of almost exclusively MM/DD/YYYY, there are a handful of records in the format DD/MM/YYYY. Some dates are entirely invalid. For example, the month spot contains 60, or the day spot contains 00.

+ `status_date`: No invalid dates

[2020-06-11 13:55] #51 closed, assigned to SPTKL

[2020-06-11 14:42] mgraber opened #93 "20Q2 - Fix status checks in _status.sql"
STATUS_translate has `status` values that are one of:
+ '1. Filed'
+ '2. Plan Examination'
+ '3. Permitted'
+ '4. Partial Complete'
+ '5. Complete'
+ '9. Withdrawn'

Old statuses are still in the checks:
+ 'Withdrawn' in line [105](https://github.com/NYCPlanning/db-developments/blob/f15b17736494312d2c8b10d070665edca0dd73bc/developments_build/sql/_status.sql#L105)
+ 'Partial complete' in [114](http

[2020-06-11 14:58] SPTKL commented on #93
also it seems like
https://github.com/NYCPlanning/db-developments/blob/f15b17736494312d2c8b10d070665edca0dd73bc/developments_build/sql/_status.sql#L154-L167
is not relevant now, since we no longer flag garages

[2020-06-11 15:06] kschmidtDCP commented on #35
@SPTKL These records should be moved to a QC table, with some conditions in bold at the end of this post. Here's why. @levysamu please confirm:

Records may be marked as inactive by HED because the job is a duplicate or "not real" for any other reason and needs to be removed from the housing count. Some of these records may have already been complete according to DOB at the time we researched it a

[2020-06-11 15:30] levysamu commented on #50
After referencing the Job Applications data in Open Data, here's what I found:

Landmark
- N = Null
- Y = Yes
- There are no NB, A1, or DM records that have an L as the value in the Landmark column. It seems to mean that it is landmarked, however, so should also be Yes.
- There are no NB, A1, or DM records that have a C as the value in the Landmark column. It seems to mean that it is not landmarke

[2020-06-11 15:34] #93 closed, assigned to nobody

[2020-06-11 15:37] #29 closed, assigned to mgraber

[2020-06-11 15:50] kschmidtDCP commented on #83
Just in from HPD:

_Project ID is a stable unique identifier.
Buildings are trickier – Building IDs aren’t always stable as they can change after project start. BIN should be more stable but may also change. To be extra careful, you might want to try both._

Should we take her recommendation and try a three part Unique ID, consisting of Project ID, Building ID, and BIN?

[2020-06-11 16:17] levysamu commented on #83
Well the three part UID wouldn't really solve the problem of one of the pieces not being stable. It may actually introduce additional instability to the UID.

[2020-06-11 16:24] AmandaDoyle commented on #83
@levysamu that's what Molly was thinking
@kschmidtDCP I'm reading Jess' note differently in suggesting that we evaluate the stability of Project ID+Building ID and Project ID+ BIN
@mgraber pointed out that BIN is NULL for 47% of the records
Therefore, based on what we've observed, Project ID+Building ID is the best unique id we have

[2020-06-11 16:59] mgraber commented on #83
@kschmidtDCP @levysamu Is it worth it to include the hny project_id as a field in addition to the unique ID hash (built off of project_id and building_id)? That way, in cases where the project_id-building_id combo changes, we can at least trace back to the stable project_id to significantly limit the search for the correct match?

We could also consider using a concatenation, rather than a hash, s

[2020-06-11 17:13] #54 closed, assigned to nobody

[2020-06-11 17:21] levysamu commented on #62
This is no longer necessary in light of the conversation we just had about spatial join vs GeoSupport. Until GeoSupport is improved, we are prioritizing spatial join (apart from limited examples where the BBL is too large to be used effectively).

[2020-06-11 17:26] levysamu commented on #83
@mgraber I definitely would prefer concatenating them instead of creating a hash.

I think I need a little more information to understand the first point entirely. Include it where? Are you proposing this to actively help us make the connection when it breaks between versions, or is this more for us to use in filtering?

[2020-06-11 17:39] SPTKL commented on #62
moving this conversation to #79

[2020-06-11 17:39] #62 closed, assigned to nobody

[2020-06-11 17:59] mgraber commented on #83
@levysamu I envisioned the project_id as something that would help to recover matches across time in cases where the building_id changed. Rather than searching for the match among all of the historic hny records, you'd only need to search among those sharing the same project_id.  The thought of including it as a field was to get rid of the step of undoing a hash or parsing a concatenation if we/yo

[2020-06-11 18:08] mgraber opened #97 "20Q2 - Create intermediate devdb containing both status and geo fields"
These are both needed as inputs to the HNY workflow.

Could be a join between MID_devdb and STATUS_devdb, with the caveat that
+ year_complete
+ quarter_complete
+ units_complete
+ units_incomplete
+ x_inactive

exist in both of these inputs. They've been conditionally updated in STATUS_devdb, and so must come from that table.

[2020-06-11 18:15] SPTKL commented on #97
Maybe in mid_devdb we should change year_complete to _year_complete, also the current mid_devdb is temporary, so maybe we can change it to _mid_devdb, and merge it with status_devdb to mid_devdb?

[2020-06-11 18:27] kschmidtDCP commented on #27
@AmandaDoyle @SPTKL @mgraber I just want to confirm that the 19Q4 field `occ_category` will be renamed `resid_flag` as noted in the schema. `occ_category` values previously listed as "Other" will be replaced will nulls and moved to the new `nonres_flag`.

[2020-06-11 18:28] kschmidtDCP commented on #49
HED logic:

- `nonres_flag` should replace `x_mixeduse`
- set `nonres_flag` to "Non-Residential" if:
     - `resid_flag` is null (note that `occ_category` is being renamed to `resid_flag` and values of "Other" are being recoded as null.)
     - if `job_desc` contains the strings listed in the table below
     - if `occ_init` or `occ_prop` contain the values listed in the table below
- else, `nonre

[2020-06-11 18:31] kschmidtDCP commented on #36
This issue can be closed. The improved logic for identifying non residential uses has now been posted in #49.

[2020-06-11 20:19] #50 closed, assigned to SPTKL

[2020-06-11 21:01] #36 closed, assigned to nobody

[2020-06-11 21:15] AmandaDoyle opened #100 "20Q2 - Questions to HED"
# Questions 2020/07/06 - 2020/07/10
- [ ] Updated DOE subdistricts shapefile? Current shapefile has gaps between polygons. e.g.
![image](https://user-images.githubusercontent.com/13207770/87078385-8a9cce00-c1f2-11ea-9e2b-b3f7a197547c.png)

- [x] For displaying data in the capital planning platform should we update units_net from NULL to 0?
- [x] In cases where a job has a non-null date complete an

[2020-06-11 21:21] AmandaDoyle commented on #46
If a job description does not have any letters then you can null it out.

[2020-06-12 12:51] #97 closed, assigned to mgraber

[2020-06-12 13:14] mgraber commented on #27
@kschmidtDCP @levysamu The `nonres_flag` will simply be the opposite of `resid_flag`, correct? Are there any cases where either both would be 'Y' or both would be NULL? What is the value of including both?

[2020-06-12 13:43] kschmidtDCP commented on #52
@AmandaDoyle Sorry for the last minute schema change request, but after our discussions of the x_mixeduse flag, could you update the schema so that `x_mixeduse` -> "Nonresid_flag" rather than "MixedUseBldg", and move the field up so it's located right after `resid_flag`? (Those two fields are best interpreted as a pair.)

[2020-06-12 13:47] mgraber opened #102 "20Q2 - Description of Tables"
# Description of tables
A running description of tables, what they contain, and when they are created

## Initial attribute mapping
### `_INIT_devdb`
+ created in `_init.sql`
+ It creates an initial field mapping from `dob_jobapplications` to `devdb`
+ fields columns that are 1-to-1 mapping and temporary fields noted with `_` (such as `_occ_prop`) for upcoming calculation

### `INIT_devdb`
+ creat

[2020-06-12 13:48] mgraber commented on #102
Change initial issue comment to reflect #101

[2020-06-12 13:48] kschmidtDCP commented on #100
These are not mutually exclusive, so if a building contains both residential and nonresidential uses (like retail) both flags would be applied.

[2020-06-12 13:56] kschmidtDCP commented on #53
Since there are so few invalid dates, please export them to the QC table under "invalid date." HED will research and correct them.

[2020-06-12 14:05] kschmidtDCP commented on #26
This is still important, so that we can see the full list of jobs that have units but don't specify a resisential occupancy and potentially research them if needed. Knowing what we know about the `resid_flag`, the new logic is provided below, and also listed in the [QAQC document](https://nyco365.sharepoint.com/:w:/r/sites/NYCPLANNING/hed/Shared%20Documents/01%20Projects_active/Housing%20(only%20c

[2020-06-12 14:46] kschmidtDCP commented on #69
From the Attribute Map, here are the only questionable cases where class A units are changed:

This is related to the existing QC check, "qc_hotel_resid_a1 - Check all Alterations from residential to hotel (only A1) and from hotel to residential." Sam and I will discuss.

[2020-06-12 14:49] mgraber opened #104 "20Q2 - Build process for date QAQC & corrections"
- [x] Export invalid dates for QAQC
- [x] Build in process for applying date corrections

[2020-06-12 14:53] kschmidtDCP commented on #52
The 13 character version is HED's preferred name. However, we understand that ArcGIS has 10 character limits for certain file types, and so we wanted a version that was readable if only 10 characters. Is it possible to use 13 characters in the tables DE exports to us, and only use the 10 character version for when the GIS team exports the data as layers?

Please also note that we were missing some

[2020-06-12 15:14] #24 closed, assigned to nobody

[2020-06-12 15:19] SPTKL commented on #102
built with [mermaid](https://mermaid-js.github.io/mermaid-live-editor)
[![](https://mermaid.ink/img/eyJjb2RlIjoiZ3JhcGggVERcbiAgICBkb2Jfam9iYXBwbGljYXRpb25zW2RvYl9qb2JhcHBsaWNhdGlvbnNdXG4gICAgX0lOSVRfZGV2ZGIoX0lOSVRfZGV2ZGIpXG4gICAgSU5JVF9kZXZkYntJTklUX2RldmRifVxuICAgIF9HRU9fZGV2ZGIoX0dFT19kZXZkYilcbiAgICBHRU9fZGV2ZGJbR0VPX2RldmRiXVxuICAgIF9TUEFUSUFMX2RldmRiKF9TUEFUSUFMX2RldmRiKVxuICAgIFNQQVRJQUxf

[2020-06-12 15:44] kschmidtDCP commented on #35
@SPTKL After talking to Sam, we want to change the logic to:

Add to the QC table jobs where the correction is assigning "Inactive" in x_inactive flag AND the **Date_LastUpdt** is after the last vintage date (for example, in 20Q2, **Date_LastUpdt** would have to be >= 1/1/2020).

[2020-06-12 15:54] mgraber commented on #27
@kschmidtDCP What is the logic for setting the `nonres_flag`, if it is independent from the logic for setting `resid_flag`?

[2020-06-12 16:01] levysamu commented on #64
@AmandaDoyle Related to the question asked about this in #100, is the first tab in the excel document that I shared insufficient? I had the three columns laid out and what the resulting value ought to be.

[2020-06-12 16:21] kschmidtDCP commented on #27
In the case of these flags, the resid_flag should be populated with "Residential" if true, and null if false. nonres_flag should be populated with "Non-Residential" if true, and null if false.

[2020-06-12 16:22] kschmidtDCP commented on #27
@mgraber  The logic is in issue #49.

[2020-06-12 16:39] kschmidtDCP commented on #69
These are the valid reasons for programmatically changing units. None of these need to be reported in the QC tables:

**ClassAInit**
- In units_.sql, this gets set to 0 where the job_type indicates a new building and units_init is NULL
- For NB records units_init is set to 0
- As a final step in units_.sql, this field is formatted as numeric
- Gets overwritten by input research table in dcpattribu

[2020-06-12 16:47] kschmidtDCP commented on #31
@mgraber Both jobs need to be active. (Slightly different from one is inactive - sorry for lack of clarity, I'll edit above.)

[2020-06-12 17:06] SPTKL commented on #64
@levysamu  yes didn't realize there was another tab

[2020-06-12 18:49] mgraber opened #105 "20Q2 - Create hny corrections workflow"
Corrections to the hny related fields happen by adding/removing matches between records, rather than updating the value of an attribute. As a result, these corrections do not fit well into the normal corrections table workflow.

In the hny workflow, we create an intermediate table called `HNY_matches`:
+ It is created in `_hny.sql`
+ It contains all matches between hny building-level records and d

[2020-06-12 19:23] levysamu commented on #83
What @mgraber described above makes sense to HED.

[2020-06-12 19:40] kschmidtDCP commented on #57
@AmandaDoyle Now that we've researched the possible joins, we would like to **not use date criteria for joining DMs and NBs**.

[2020-06-12 19:52] levysamu commented on #105
I think this makes sense.

To confirm:
- we are making corrections directly in the HNY_matches table.
- neither HNY ID nor Job ID are unique in this table, right (because a single HNY can join to more than one DoB AND a single DoB can join to more than one HNY)?
- after this step, the HNY IDs will get rolled up into a single record if they join to the same DoB record automatically, so we don't nee

[2020-06-12 20:16] mgraber commented on #105
@levysamu @kschmidtDCP

I still think there is value in having a separate corrections table. Every row of it would contain a correction, either indicating an addition or removal of a match. If incorrect matches appear again with updated data, for example, removal would get reapplied.

This is correct. The HNY_matches table contains unique pairs of hny_id & job_number. Your corrections would have t

[2020-06-12 20:31] #45 closed, assigned to SPTKL

[2020-06-12 21:09] levysamu commented on #52
Just want to note that the schema at the top of the page is missing some fields that are in the excel document. The ones I noticed are related to the two new data joins (Furman Core Data and DHCR). We just made a small change to the Furman columns. Instead of separating out tax incentives in one column and financing in another, we just made one big column that will house all of the programs that a

[2020-06-12 21:11] levysamu commented on #105
Thanks for this. I had wanted unmatched records in the HNY_match table when I thought we were editing it directly to add or remove matches.

[2020-06-15 12:22] #53 closed, assigned to mgraber

[2020-06-15 12:38] mgraber opened #106 "20Q2 - QAQC Master Issue"
# QAQC table

## Export alphabetically
- [x] Issue #128

## qaqc_init.sql ( issue #104, PR #114  closed)
+ Records where dates are invalid
     - [X] `invalid_date_lastupdt`: The value in `date_lastupdt` cannot be typecast as a date
     - [X]	`invalid_date_filed`: The value in `date_filed` cannot be typecast as a date
     - [X] `invalid_date_statusd`: The value in `date_statusd` cannot be typeca

[2020-06-15 14:29] AmandaDoyle opened #107 "20Q2 - Include CO fields to power app"
Should we include the following fields in the new DevDB

- co_latest_effectivedate
- co_latest_certtype
- co_latest_units

If so, what should they be named?

[2020-06-15 15:58] SPTKL commented on #41
closing, moving issue to #35

[2020-06-15 15:58] #41 closed, assigned to SPTKL

[2020-06-15 16:07] #104 closed, assigned to mgraber

[2020-06-15 16:08] #83 closed, assigned to mgraber

[2020-06-15 16:14] #46 closed, assigned to nobody

[2020-06-15 17:02] AmandaDoyle commented on #45
Update: This issue was reversed because HED realized that these abbreviations were valid inputs into Geosupport and would impact where a record is geocoded

[2020-06-15 17:43] #74 closed, assigned to SPTKL

[2020-06-15 17:44] SPTKL commented on #64
#109

[2020-06-15 17:44] #64 closed, assigned to nobody

[2020-06-15 17:45] #60 closed, assigned to nobody

[2020-06-15 20:52] AmandaDoyle commented on #63
GRU says that if the record is in TPAD, get the point geometry by taking the centroid from the clipped MapPLUTO BBL

[2020-06-16 12:39] #105 closed, assigned to mgraber

[2020-06-16 14:03] kschmidtDCP commented on #79
@AmandaDoyle I think this makes sense, therefore, the hierarchy should be:
1. Take geometry from using DoITT building footprints point using dob_bin as a join_key
2. Take geometry from using DoITT building footprints point using geo_bin as a join_key
3. Lastly, take BBL centroid from shoreline clipped MapPLUTO

(It's the same as above, but without the "Then take lat / long from BBL point via GeoSu

[2020-06-16 14:41] AmandaDoyle commented on #79
@kschmidtDCP are the steps you outlined only for records that are in TPAD or all records?
For records that are just in TPAD, we'll need to jump to take BBL centroid from shoreline clipped MapPLUTO, because the building will not exist in the the building footprints file yet.

For records that are in PAD

1. Take geometry from using DoITT building footprints point using dob_bin as a join_key
2. Take

[2020-06-16 14:44] SPTKL commented on #79
@kschmidtDCP  also for

Do we use geo_bbl or dob_bbl?

[2020-06-16 15:07] kschmidtDCP commented on #106
@mgraber Here are HED's preferred field names. This list is provided in the same order as above, but the final output should have the fields listed in alphabetical order so the same group appears together.
- `invalid_date_lastupdt` ok
- `invalid_date_filed` ok
- `invalid_date_statusd` ok
- `invalid_date_statusp` ok
- `invalid_date_statusr` ok
- `invalid_date_statusx` ok
- `bistest` -> **`z_bistest

[2020-06-16 15:15] levysamu commented on #58
We are setting up a meeting with DoB for this week. It seems like we are going to get this information, but it is still unclear what it looks like yet and how we will have to reformat it.

[2020-06-16 15:17] kschmidtDCP commented on #79
I'm not sure and would defer to DE. @levysamu do you have any strong feelings on this?

[2020-06-16 15:25] levysamu commented on #106
I think I am personally fine with EDM removing the BISTEST records automatically. We put it in because it was in the QAQC checklist that we had been working off of. If this is already taken care of, however, I don't feel much need to look into it further.

[2020-06-16 15:27] SPTKL commented on #79
we can use both, similar to how we use `dob_bin` then `geo_bin`, we can do `dob_bbl` then `geo_bbl`?

[2020-06-16 15:33] SPTKL commented on #106
@levysamu  we remove them and record the records in the research table. this time around we can instead recording them in the qaqc table

[2020-06-16 15:35] levysamu commented on #48
This should be the new schema for the Furman Center Data. It follows what is in the schema excel document.

Field name (13 char max) | Field name (10 char max) | Field name alias | Description
-- | -- | -- | --
SubsidyExpire | SubsidyExp | Subsidy Expiration Date | When the last subsidy is set to expire
SubsidyName | SubsidyNm | Subsidy Name | Subsidy program names (value is filled with concatenat

[2020-06-16 15:38] levysamu commented on #52
This should be the new schema for the Furman Center Data. It follows what is in the schema excel document.

Field name (13 char max) | Field name (10 char max) | Field name alias | Description
-- | -- | -- | --
SubsidyExpire | SubsidyExp | Subsidy Expiration Date | When the last subsidy is set to expire
SubsidyName | SubsidyNm | Subsidy Name | Subsidy program names (value is filled with concatenat

[2020-06-16 16:01] AmandaDoyle commented on #79
@SPTKL steps are
1. Take geometry from using DoITT building footprints point using dob_bin as a join_key
2. Take geometry from using DoITT building footprints point using geo_bin as a join_key
3. Then take lat / long from BBL point via GeoSupport
4. Lastly, take BBL centroid from shoreline clipped MapPLUTO using dob_bbl as a join_key

If a record has a Geosupport BBL it'd be covered in step 3, so

[2020-06-16 16:04] AmandaDoyle commented on #106
@SPTKL @levysamu
I think that we should continue to record the records in the QAQC table and remove them from the final output

[2020-06-16 16:08] SPTKL commented on #79
@AmandaDoyle  and this is only for tpad address records correct?

[2020-06-16 16:27] kschmidtDCP commented on #40
previous logic:

                AND status_translate(a._status)
                    IN ('5. Complete','3. Permited')
                THEN '5. Complete'

@AmandaDoyle Yes, the logic provided in this issue should overwrite this old snippet of code. @levysamu Please correct me if I'm wrong.

[2020-06-16 16:34] kschmidtDCP commented on #52
@AmandaDoyle @mgraber Yes, you're exactly right. I should have been clearer. We want to remove the x_mixeduse flag entirely, and create this new nonres_flag which identifies if there are nonresidential uses in the building, irrespective of the presence of residential uses. A mixed use building would therefore have both the resid_flag and nonres_flag checked.

[2020-06-16 16:42] kschmidtDCP commented on #31
@mgraber @AmandaDoyle There are two types of duplicates, which we handle differently.
1. Duplicate job numbers are handled programmatically here: https://github.com/NYCPlanning/db-developments/blob/master/developments_build/sql/dedupe_job_number.sql
2. Suspected duplicates with **different** job numbers are handled in the QAQC tables. #106

[2020-06-16 16:58] kschmidtDCP commented on #58
@levysamu @AmandaDoyle @mgraber @SPTKL Here are the files from DOB:
https://nyco365.sharepoint.com/:f:/r/sites/NYCPLANNING/hed/Shared%20Documents/01%20Projects_active/Housing%20(only%20current%20items)/20Q2/DOB%20Request?csf=1&web=1&e=Wy0vhI

[2020-06-16 17:32] #63 closed, assigned to SPTKL

[2020-06-16 18:45] #49 closed, assigned to SPTKL

[2020-06-16 18:45] SPTKL commented on #35
This issue will be addressed in #106

[2020-06-16 18:45] #35 closed, assigned to SPTKL

[2020-06-16 18:46] SPTKL commented on #27
the qaqc portion of this issue will be addressed in #106

[2020-06-16 19:02] SPTKL opened #120 "20Q2 - Corrections Backward Compatibility"
- remove all `x_mixuse` record from corrections table (x_mixuse is no longer a field)
- rename all `x_inactive` in `field` to `job_inactive`
- rename `units_init` to `classa_init` and `units_prop` to `classa_prop`

[2020-06-16 19:54] #40 closed, assigned to SPTKL

[2020-06-16 21:35] kschmidtDCP commented on #52
@AmandaDoyle @mgraber Reviewing the schema for the final sign off. I found one correction that should have been in the document, but I must have missed it: `owner_firstnm` & `owner_lastnm` -> `owner_name`
as described in #44.

@levysamu Can you also review for final sign-off?

[2020-06-16 22:33] AmandaDoyle opened #123 "20Q2 - capture records that are removed?"
Here are the types of records that we currently remove from DevDB:
- Administrative jobs based on keywords in job description and job type **(remove & don't record)**
- Jobs that contain TEST in the job description **(remove & don't record)**
- Records that are marked for removal in manual research table based on research (i.e. is duplicate)  **(remove according to research table)**

[2020-06-17 12:40] mgraber commented on #52
@kschmidtDCP

Does `owner_name` replace `owner_firstnm` and `owner_lastnm`, or is it a new field?

[2020-06-17 13:11] #26 closed, assigned to nobody

[2020-06-17 13:13] #31 closed, assigned to nobody

[2020-06-17 13:20] SPTKL commented on #123
[Quoting](https://github.com/NYCPlanning/db-developments/issues/106#issuecomment-644836304) Sam here from #106

[2020-06-17 13:24] AmandaDoyle commented on #123
Okay so decision is that we'll just remove Administrative  and Test records and not record what was removed anywhere?  I'm okay with this

[2020-06-17 13:26] AmandaDoyle commented on #79
@SPTKL step 4 of what I described yesterday above should only be used if the record is in TPAD or not in GeoSupport

[2020-06-17 13:27] AmandaDoyle commented on #18
Irrelevant issue because we're using logic that takes geographic information based on if the record is in PAD or not

[2020-06-17 13:30] AmandaDoyle commented on #52
@mgraber `owner_name` replaces `owner_firstnm` & `owner_lastnm`

[2020-06-17 13:35] SPTKL commented on #79
@AmandaDoyle @kschmidtDCP  @levysamu

I need instructions on how school district fields are formatted
+ SchoolSubDist
+ SchoolElmntry
+ SchoolMiddle

[2020-06-17 13:45] AmandaDoyle commented on #69
Issue is no longer relevant, because we scaled back how we're programatically changing unit counts so we no longer need to report out changes

[2020-06-17 13:45] #69 closed, assigned to nobody

[2020-06-17 14:19] #123 closed, assigned to nobody

[2020-06-17 14:36] AmandaDoyle commented on #79
SchoolSubDist will be District-Zone so `1-2`
SchoolElmntry will be esid_no
SchoolMiddle will be msid_no

@kschmidtDCP @levysamu can you confirm?

[2020-06-17 15:22] AmandaDoyle commented on #27
@SPTKL I'm reviewing the code in the dev branch and 'occ_category' is still dependent on 'occ_initial' and 'occ_proposed', but I thought that occ_category (now resid_flag) was set to residential if any of the 6 unit fields had a value.  Question I have is non-residential units are captured in DOB unit counts, and how does HED plan to capture non-residential units?

[2020-06-17 17:30] mgraber opened #128 "20Q2 - Export QAQC table in alphabetical order"
Comment from #106:

Create an export script to reorder

[2020-06-17 17:43] levysamu commented on #27
@AmandaDoyle, not sure I understand your question. Are you asking whether DoB counts class b units in their unit counts? If that is your question, then yes they do. Sometimes. They are inconsistent, but I think generally speaking they do count them as units. We have a bunch of QAQC checks to determine whether something has class b units, and we expect to find most, if not all of, them that way.

[2020-06-17 18:42] SPTKL opened #129 "20Q2 - Change data loading process"
for large tables such as
`dob_jobapplications`
filter out jobs with job_type other than `A1|NB|DM` to save ETL time

[2020-06-17 19:19] #37 closed, assigned to nobody

[2020-06-17 20:00] #79 closed, assigned to SPTKL

[2020-06-17 20:00] SPTKL commented on #102
moving all this to https://github.com/NYCPlanning/db-developments/wiki/Description-of-tables

[2020-06-17 20:00] #102 closed, assigned to mgraber, SPTKL

[2020-06-17 20:23] mgraber commented on #57
Geometries are inconsistent between sources, so merging back with mappluto to get BBL geometries sometimes results in a devdb point falling outside of the lot. We are working to track down this issue.

Comparing geometries from different sources might introduce even more errors (for example, different geosupport functions have different relationships between a point and a lot). Until we better und

[2020-06-17 20:23] #57 closed, assigned to nobody

[2020-06-17 21:03] kschmidtDCP commented on #107
@AmandaDoyle Here's a hopefully simple mock-up that reconfigures the Development Milestones section of the CPP. This relies only on fields that exist in the 20Q2 DevDB. How should we verify with labs that these changes are doable?
![image](https://user-images.githubusercontent.com/20977980/84950105-56833100-b0bc-11ea-99af-91eb4fd3c542.png)

[2020-06-17 21:23] kschmidtDCP commented on #27
@AmandaDoyle @mgraber @SPTKL From issue #100

Yes, that is correct. The occupancy codes are an unreliable way of identifying residential units, and so we're switching to basing resid_flag solely on the presence of residential units.

The `b_nonres_with_units` QC check for jobs where the occ_init and oc_prop are not residential, but there is a value in units_init or occ_prop. This check will make s

[2020-06-17 21:41] kschmidtDCP commented on #106
@AmandaDoyle @mgraber @SPTKL Small revision on the logic for the `b_likely_occ_desc`:

**add this** -> occ_init or occ_prop contains "hotel", "assisted", "incapacitated", "restrained", "dormitories"
**remove this** -> job_type = Alteration and occ_initial contains “residential” and occ_proposed contains “hotel” OR
**remove this** -> job_type = Alteration and occ_initial contains “hotel” and occ_pr

[2020-06-17 21:42] kschmidtDCP commented on #100
@AmandaDoyle @mgraber @SPTKL

No. Issue #69 states the only remaining reasons for changing units_init and unit_prop. These two snippets of code should no longer be used.

Yes, this is one intent of the QAQC flag `b_likely_occ_desc`.

[2020-06-17 22:10] AmandaDoyle commented on #27
@levysamu @kschmidtDCP
I understand what Class A units are (permanent residences) and hotel units, but what are Class B units?  I understood class B units to be things like SROs.

1) I'm wondering where non residential units(i.e. offices) are being captured in the developments database.

2) My concern is that is we're mapping units from the DOB application, which captures all unit types, to class

[2020-06-17 22:14] AmandaDoyle commented on #27
@kschmidtDCP for whatever reason I'm just seeing your response.  Okay, as long as it's documented that it's vital for HED to do this research I think I'm okay with the new logic.  Are non-residential units captured anywhere in the database?  Should they be?

[2020-06-18 13:15] AmandaDoyle commented on #107
@hannahkates Flagging this issue for you since it relates to fields used by the app and HED has requested some changes.

[2020-06-18 13:28] AmandaDoyle commented on #107
Closing the issue because this does not impact the development of the database.  HED decided not to include these fields

[2020-06-18 13:28] #107 closed, assigned to nobody

[2020-06-18 13:33] mgraber opened #131 "20Q2 - Create FINAL_devdb"
+ Append hny columns
+ Used to put fields in desired order (see #52)

[2020-06-18 14:24] levysamu commented on #27
@AmandaDoyle, as far as I can tell DoB does not report non-residential units like office or retail space. They report non-residential units in PLUTO, but not as part of the DoB permitting process.

And yes, Other B is referring to things like SROs or dormitories.

[2020-06-18 23:17] AmandaDoyle commented on #20
Closing since we're no longer developing the year over year table

[2020-06-18 23:20] #20 closed, assigned to nobody

[2020-06-19 12:29] #129 closed, assigned to SPTKL

[2020-06-19 13:12] SPTKL opened #134 "20Q2 - Lon Lat Corrections process"
@kschmidtDCP  @levysamu This issue will describe the correction process for Lon Lat corrections

- checking if correction target is in a lot, if yes, don't correct
- if no, check distance between geom and old_geom, if close enough then make correction

[2020-06-19 13:32] #128 closed, assigned to mgraber

[2020-06-19 13:33] SPTKL opened #136 "20Q2 - Removing unused files and rewrite export and archive scripts"
- [ ] everything under `_sql` folder, note that everything in `_sql` will be preserved in the current master branch, which we will rename as `archive` once `dev` is complete

## Under `data`
- [ ] corrections_qc_outliers.csv --> not used?
- [ ] housing_input_dcpattributes.csv --> not used?
- [x] housing_input_lookup_occupancy.csv
- [x] housing_input_lookup_status.csv
- [x] housing_input_removals.c

[2020-06-19 13:41] mgraber opened #137 "20Q2 - Use env var to set export date constraint"
This date determines the earliest records that will be included in devdb. This allows for easy adjustments if we need to capture more historical data.

[2020-06-19 13:42] mgraber commented on #136
When rewriting export process, consider #137

[2020-06-19 14:29] levysamu commented on #58
We are going to leave the DoB use group data referenced here out of 20Q2. We only just received the files, and we really need some time to look at it and understand what it can tell us before we would be ready to incorporate it.

[2020-06-19 15:32] levysamu commented on #134
As I understand the current process:

We will use the lat/lon supplied by GeoSupport unless that point does not fall within a lot (this could mean that it falls within the street or in the water). If it does not fall within a lot, we will research it as part of our QAQC checks and enter the corrected values in the Manual Corrections Table. If, in the future, a record that has a lat/lon in the corr

[2020-06-19 16:32] #136 closed, assigned to nobody

[2020-06-19 17:31] AmandaDoyle commented on #27
@levysamu I'm concerned because I'm looking at the raw data and jobs with non residential initial and proposed occupancy codes and assigned an occupancy code as Other have values in the units initial and proposed columns, and I'm unclear on what DOB defines as a dwelling unit.
https://data.cityofnewyork.us/Housing-Development/DOB-Job-Application-Filings/ic3t-wcy2

[2020-06-19 17:49] AmandaDoyle commented on #58
Okay so the decision is that we are not including zoning sqft data from DOB, so I am closing this issue.  This impacts issue #52

[2020-06-19 17:49] #58 closed, assigned to nobody

[2020-06-19 17:50] AmandaDoyle commented on #52
Not including the fields
`ZSF_Init` or `ZSF_Prop`

[2020-06-19 18:38] mgraber opened #140 "20Q2 - Both '3. Permitted' and '3. Permited' are statuses"
Find where the typo is in the status step.

[2020-06-19 18:50] SPTKL commented on #140
good catch
https://github.com/NYCPlanning/db-developments/blob/4b8a16cf87feaa100f355bf6b1b9215f4722cae6/developments_build/sql/_status.sql

[2020-06-19 18:51] #131 closed, assigned to mgraber

[2020-06-19 18:55] mgraber opened #141 "20Q2 - boro field contains both codes and names"
Likely from COALESCE in mapping geosupport with non-geosupport.

[2020-06-19 19:02] levysamu commented on #134
I think Kristina and I are satisfied to treat BBLs the same way we do all other geographic information. If the project is complete then use the GeoSupport BBL. If it is incomplete, then report the spatial join BBL.

[2020-06-19 19:20] kschmidtDCP commented on #106
@AmandaDoyle @mgraber @SPTKL Here are the additional spatial checks we would like to perform:
- `geo_water` – Same as old code for dev_qc_water, identifying points that fall in water
- `geo_taxlot` – Same as old code for dev_qc_taxlot, identifying points not located in a tax lot
- `geo_null_latlong` – Output TRUE if the job is missing lat long
- `geo_null_boundary` – Output TRUE if any of the geog

[2020-06-19 19:24] kschmidtDCP commented on #106
@AmandaDoyle @mgraber @SPTKL This is a great idea. Please do this!

[2020-06-19 19:26] kschmidtDCP commented on #106
@AmandaDoyle @mgraber @SPTKL Signed off!

[2020-06-19 20:01] mgraber opened #142 "20Q2 - complete_year and complete_qrtr are all NULL in FINAL_devdb"

[2020-06-19 20:03] mgraber opened #143 "20Q2 - Remove zoningsft fields from FINAL_devdb"

[2020-06-19 20:21] AmandaDoyle commented on #27
Reclosing issues because we confirmed that the logic should be
If there is a value in the classA, classB, and hotel units field make residential flag TRUE
This logic is already implemented

[2020-06-19 20:21] #27 closed, assigned to SPTKL

[2020-06-19 21:03] levysamu commented on #106
If the units are null, do not mark them as having equal units. If the addresses are the same, but the BBL is NULL, mark them as the same address.

[2020-06-22 12:28] #140 closed, assigned to nobody

[2020-06-22 12:53] #141 closed, assigned to nobody

[2020-06-22 13:19] #142 closed, assigned to nobody

[2020-06-22 13:29] #143 closed, assigned to nobody

[2020-06-22 13:34] mgraber opened #149 "20Q2 - Non-NULL date_complete have NULL complete_year"
Remove lines 106-120 from _status.sql

[2020-06-22 14:23] SPTKL opened #150 "20Q2 - Status - legacy code review"
# New logic
+ If date status A is not NULL then 1. Filed
+ If date status C is not NULL then 1. Filed
+ If date status D is not NULL then 1. Filed
+ If date status F is not NULL then 1. Filed
+ If date status P is not NULL then 2. Plan Examination
+ If date status Q is not NULL then 3. Permitted
+ If date status R is not NULL then 3. Permitted
+ If date status X is not NULL then 5. Complete

pg_na

[2020-06-22 14:30] #134 closed, assigned to levysamu, kschmidtDCP

[2020-06-22 14:40] mgraber opened #151 "20Q2 - Duplicate QAQC logic for NULL dates"
Keep filter for non-null units and non-null addresses, remove filter for non-null BBLs

[2020-06-22 14:53] mgraber commented on #149
#150

[2020-06-22 15:28] SPTKL commented on #34
[code]

[2020-06-22 15:33] #151 closed, assigned to mgraber

[2020-06-22 15:35] mgraber commented on #34
@SPTKL

Once we clean up the status logic, we can simply use `complete_year`

[2020-06-22 15:52] mgraber opened #154 "20Q2 - Status lookup isn't getting applied if date_statusp and date_permittd are not NULL"
This is missing cases that probably should be '5. Complete'
See these cases:
[code]

[2020-06-22 16:29] SPTKL opened #155 "20Q2 - Status Rewrite"
# current logic
[code]

[2020-06-22 16:30] mgraber commented on #155
#156

[2020-06-22 16:48] #155 closed, assigned to nobody

[2020-06-22 19:48] SPTKL opened #157 "20Q2 - QAQC geospatial"
#106
- geo_water – Same as old code for dev_qc_water, identifying points that fall in water
- geo_taxlot – Same as old code for dev_qc_taxlot, identifying points not located in a tax lot
- geo_null_latlong – Output TRUE if the job is missing lat long
- geo_null_boundary – Output TRUE if any of the geographic boundary fields are null.

[2020-06-23 17:26] mgraber opened #160 "20Q2 - Status Rewrite"
## Rewrite status logic to use dates rather than DOB job_status
This addresses the following related issues:
+ Review of legacy status code #150
+ Make sure completion status is consistent with `date_complete`, `complete_year` and `complete_qrtr` #149
+ Incomplete application of status lookup #154

## Logic for populating the status fields:

1) populate `date_complete`
- first CO date for NBs and

[2020-06-23 17:29] mgraber commented on #149
Closing as this will be addressed in #160

[2020-06-23 17:29] #149 closed, assigned to mgraber

[2020-06-23 17:30] mgraber commented on #154
Closing as lookup is no longer relevant, and this will be addressed in #160

[2020-06-23 17:30] #154 closed, assigned to nobody

[2020-06-23 17:31] mgraber commented on #150
Closing as this will be addressed in #160

[2020-06-23 17:31] #150 closed, assigned to nobody

[2020-06-23 19:04] AmandaDoyle opened #161 "Logic for populating status field"
Simple logic for populating the status fields:

1) populate date_complete
- first CO date for NBs and Alts
- status X date for DM

2) compute status value
- if the withdrawn flag as a value of 'W', 'C' THEN '9. Withdrawn'
- when it's a NB and the CO is a Temporary CO AND (less than 80% of the units are completed for a building with 20 or more units OR 5 or more units have been completed for a buil

[2020-06-23 19:16] AmandaDoyle commented on #161
duplicative.  Merged with #160

[2020-06-23 19:16] #161 closed, assigned to nobody

[2020-06-23 20:48] SPTKL commented on #32
addressed
https://github.com/NYCPlanning/db-developments/actions/runs/145056148

[2020-06-23 20:48] #32 closed, assigned to nobody

[2020-06-23 20:50] SPTKL commented on #33
This will be a longer term collaborative effort with HED. Put it on hold for now

[2020-06-23 20:53] SPTKL commented on #55
complete #138

[2020-06-23 20:53] #55 closed, assigned to nobody

[2020-06-23 20:54] #157 closed, assigned to SPTKL

[2020-06-23 21:04] levysamu commented on #160
The logic for demolitions is a little more complicated than what is written under the completion section. We want demolitions to use Status Q (date_permitted) as the completion date, BUT we only want date complete to be filled in and status to equal complete when it has Status_X filled in.

The reason for this is that after research, we determined that, generally speaking, Status Q more accurately

[2020-06-23 21:18] AmandaDoyle commented on #160
@levysamu
Ah okay I understand.  Please see updated logic

[2020-06-24 13:58] mgraber opened #164 "20Q2 - When assigning inactive flag in _status.sql, use date variable rather than date of run"
The current logic for assigning the inactive flag uses the current date (date the script runs) in the logic:

[code]

This means that runs on different days could result in different inactive flags, even when the version of the input data is the same. Should the reference date be set as a variable instead?

[2020-06-24 14:04] mgraber commented on #52
Cannot locate source data for dep fields. The rest of the schema changes are implemented.

[2020-06-24 14:04] #52 closed, assigned to mgraber

[2020-06-24 14:06] #106 closed, assigned to mgraber, SPTKL

[2020-06-24 15:09] AmandaDoyle opened #165 "20Q2 - Logic for flagging a job as inactive"
Is calling out '2. Plan Examination' in this [part](https://github.com/NYCPlanning/db-developments/blob/8b692104bf8cd73a73eb542ff3f0768e0249b778/developments_build/sql/_status.sql#L161) duplicative because it'd be caught by the preceding CASE statement

[This](https://github.com/NYCPlanning/db-developments/blob/8b692104bf8cd73a73eb542ff3f0768e0249b778/developments_build/sql/_status.sql#L182) piece

[2020-06-24 16:05] AmandaDoyle commented on #49
Given that `nonres_flag` and `resid_flag`  are supposed to identify something as Mixed Use should the [logic](https://github.com/NYCPlanning/db-developments/blob/74aaf2b1df5f74b2b6383f8158b65312b180f698/developments_build/sql/_function.sql#L283) of only assigning `nonres_flag` if `_resid_flag` is NULL  still be applied?

[2020-06-24 16:20] mgraber opened #166 "20Q2 - Populate complete_qrtr and complete_year once"
Do not create the `complete_qrtr` and `complete_year` fields before _status.sql. This eliminates repeated code.

[2020-06-24 16:21] #160 closed, assigned to mgraber

[2020-06-24 17:00] mgraber opened #168 "20Q2 - When using spatial join to get boundaries, make sure they nest"
When using spatial joins to get boundaries, only find the smallest boundary for ones that nest.
Once we know census block, use lookup tables to find the larger units.

[Lookup table](https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-nynta.page)

[2020-06-24 17:15] kschmidtDCP commented on #49
@AmandaDoyle Yes, nonres_flag should be set to "Non-Residential" in all cases when resid_flag is NULL. This is because if the building doesn't contain residences, it must therefore contain non-residential uses.

[2020-06-24 17:17] mgraber opened #169 "20Q2 - Remove 'WHEN _resid_flag IS NULL' from flag_nonres function"
resid_flag and nonres_flag are not intended to be mutually exclusive. A 1 in both indicates mixed use.

[2020-06-24 17:18] levysamu commented on #49
The logic at the top of the page should be used for the non-res flag, which is a bit more comprehensive than just assigning non-res if the res flag is NULL.

Also, and this is a bit nitpicky, but the pair of them do not necessarily identify mixed use, since they do not have a temporal component to them. They only highlight when a project involves residential and non-residential (which includes mix

[2020-06-24 17:19] AmandaDoyle commented on #49
Yep - the logic is outlined here
https://github.com/NYCPlanning/db-developments/wiki/Attribute-mapping-(new)#nonresid_flag

[2020-06-24 17:34] levysamu commented on #49
Thanks. Just wanted to make sure that we were on the same page, since I think I misread your initial question to mean that non-res would be assigned ONLY if res=NULL.

[2020-06-24 18:45] mgraber opened #170 "20Q2 - Fix typo in year_quarter function name and implementation"
To make future use of the function easier
year_quater -> year_quarter

[2020-06-24 18:59] mgraber opened #173 "20Q2 - Rewrite 04_export.sh"
FINAL_devdb is in the correct schema for export. This would get used to set a time filter. See #137.
We also need to filter FINAL_devdb into a housing-only database, either here or in 05_archive.sh. See #174.
#186

[2020-06-24 19:00] mgraber opened #174 "20Q2 - Rewrite 05_archive.sh"
Update the appropriate table names to archive.
Either here or in 04_export.sh, need to filter devdb to create housing database. See #173.

[2020-06-24 19:04] #165 closed, assigned to mgraber

[2020-06-24 19:15] #68 closed, assigned to mgraber

[2020-06-24 22:07] AmandaDoyle opened #177 "20Q2 - Logic for assigning classa_complt is incorrect"
I think that the logic for assigning classa_complt is incorrect.

classa_complt should be the `numofdwellingunits` associated with the final CO or the latest T-CO

I'm looking at lines 62 - 76 in _co.sql

# Updated logic
[code]

[2020-06-24 22:25] AmandaDoyle opened #178 "20Q2 - Should classa_incmpl only be populated for records where job_status = '4. Partial Complete'?"
I think `classa_incmpl` should be completed for all records where the calculation is valid.
Line 135 of _status.sql

# Updated logic:
[code]

[2020-06-25 12:30] #169 closed, assigned to mgraber

[2020-06-25 12:33] #168 closed, assigned to nobody

[2020-06-25 12:34] #170 closed, assigned to nobody

[2020-06-25 14:37] mgraber opened #182 "20Q2 - Remove duplicate get_cd function definition"

[2020-06-25 14:52] mgraber opened #183 "20Q2 - Consolidate and remove unused tables from BUILD"
+ Any spatial boundaries that we used prior to using `LOOKUP_geo`
     + `dcp_ntaboundaries`
     + `dcp_puma`
+ `dup_diff_job_number`: This information is now included in the QAQC table
+ Old hny tables
     + `housing_input_hny`: blank table created while developing
     + `housing_input_hny_job_manual`: legacy corrections file. Where should this live?
     + `hpd_hny_units_by_project`: Unused i

[2020-06-25 15:14] AmandaDoyle commented on #44
`ownerfirstname||', '||ownerlastname as owner_name,`
Needs to be changed to
`ownerlastname||', '||ownerfirstname as owner_name,`

_init.sql line 166

[2020-06-25 15:45] levysamu commented on #100
Responding to the review of the Inactive code, here is what we want it to look like:

Dependent on date_complete, job_status, date_lastupdt
A job can only be inactive if date_complete is NULL
A job is set to inactive for:

`
All jobs where the status is 9. Withdrawn
`

[code]

[code]

[2020-06-25 15:48] levysamu commented on #164
We should be using a hard date of June 30th for the Q2 vintages and December 31st for the Q4 vintages.

[2020-06-25 15:48] #44 closed, assigned to mgraber

[2020-06-25 17:24] kschmidtDCP commented on #177
@AmandaDoyle Yes, this is correct.

[2020-06-25 18:45] mgraber opened #186 "20Q2 - Final output tables"
#173
#174

Since the refactor, the package of tables we need to deliver for review is slightly different. What tables need to get delivered for HED to perform their manual review?

1. Developments database in new schema as outlined in this spreadsheet
a. Csv for all records
b. ~~Csv for records that don’t have a geometry~~
c. Shapefile for records that have a geometry

2. Housing database, which i

[2020-06-25 18:54] SPTKL commented on #186
I'm thinking we don't have to output housing_input_research?
the only place where housing_input_research would change is adding bistest records. since HED is ok with removing them directly, housing_input_research will not change

[2020-06-25 18:58] #137 closed, assigned to nobody

[2020-06-25 18:58] AmandaDoyle commented on #177
@SPTKL yes, this value should be assigned regardless of what the `status` is

[2020-06-25 19:01] mgraber commented on #186
Don't they need to be able to add to it or modify it?

[2020-06-25 19:06] mgraber opened #188 "20Q2 - Demolition/New Building match is missing"
These lines got removed from MID_qaqc.sql but shouldn't have

[code]

[2020-06-25 19:40] #164 closed, assigned to SPTKL

[2020-06-25 19:47] #188 closed, assigned to nobody

[2020-06-25 20:08] levysamu commented on #100
Stories_prop should be null for demolitions and stories_init should be null for new buildings.

[2020-06-25 20:20] #166 closed, assigned to SPTKL

[2020-06-25 20:21] #34 closed, assigned to mgraber

[2020-06-25 20:46] #182 closed, assigned to mgraber

[2020-06-25 20:52] AmandaDoyle opened #194 "20Q2 - Stories_prop should be null for demolitions"
Stories_prop should only be populated for NB and A1, and NULL for DM

[2020-06-25 20:59] AmandaDoyle opened #195 "20Q2 - updating logic for flagging jobs as inactive"
**No change**
Dependent on date_complete, job_status, date_lastupdt (no change)
A job can only be inactive if date_complete is NULL (no change)

A job is set to inactive for:
1) All jobs where the status is 9. Withdrawn (no change)

**CHANGES**
2) Set as Inactive if job_status is
Filed Application OR, Approved Application OR, Permitted for Construction
AND date_lastupdt > 3 years before vintage da

[2020-06-26 12:35] mgraber opened #197 "20Q2 - Finish documentation for tables"
https://github.com/NYCPlanning/db-developments/wiki/Description-of-tables

- [x] Descriptions
- [ ] Mermaid workflow

[2020-06-26 13:03] mgraber commented on #195
@AmandaDoyle

Does this mean that to match, both jobs must have equal classa_init, equal classa_prop, classa_init >0, and classa_prop > 0?

Or does this mean that classa_init and classa_prop must be equal only in the cases where these fields are positive, otherwise this constraint does not apply?

[2020-06-26 13:13] mgraber commented on #194
Also, `stories_init` should be NULL for new buildings.

@AmandaDoyle  Is the logic where we replace 0 `stories_init` and `stories_prop` with NULL still valid?

[2020-06-26 13:27] #177 closed, assigned to SPTKL

[2020-06-26 13:28] #178 closed, assigned to SPTKL

[2020-06-26 13:51] mgraber opened #200 "20Q2 - Remove housing_input_hny_job_manual from geocode_hny.py"
Do not geocode this file, since we do not use it in final output

[2020-06-26 13:53] mgraber opened #201 "20Q2 - Remove scripts that are no longer relevant"
+ aggregate_ct.py
+ yoy_table.py
+ yoy_table_corr.py
+ 03_build_yoyco.sh

[2020-06-26 14:05] AmandaDoyle commented on #195
@mgraber Great clarifying question
I read that as to match, both jobs must have equal classa_init, equal classa_prop, classa_init >0, and classa_prop >0
But I'd like @levysamu to verify

[2020-06-26 14:09] #200 closed, assigned to mgraber

[2020-06-26 14:27] mgraber opened #203 "20Q2 - Change b_nonres_with_units check to look at nonres_flag"
Currently looks at resid_flag, which is set based on units.

[2020-06-26 14:40] #194 closed, assigned to mgraber

[2020-06-26 14:52] AmandaDoyle commented on #203
@mgraber
This was described as:
b_nonres_with_units: Records where occ_proposed and occ_initial suggest a non-residential record, but residential units are not zero
So I think that this should flag records where nonres_flag is not NULL and resid_flag IS NULL but there is a value in any of the 6 main unit fields (class a, class b, and hotel), but this wouldn't make sense because if there was is a v

[2020-06-26 15:19] kschmidtDCP commented on #100
@AmandaDoyle @mgraber @SPTKL Sam and I made some edits to the attribute mapping, here:
https://nyco365.sharepoint.com/sites/NYCPLANNING/hed/_layouts/15/doc.aspx?sourcedoc={86a4bb4d-25b5-4183-8a28-97ffb626e0cf}&action=edit
 We're happy to discuss on a call if you like.

[2020-06-26 15:21] kschmidtDCP commented on #100
@AmandaDoyle By array, does that mean it's a comma separated list of the fields that were edited? If so, that is what we would like.

[2020-06-26 15:34] levysamu commented on #195
Your understanding was correct Amanda, but our original logic needs a small clarification. We want both classa_init and classa_prop to be equal and for them **to not be NULL** (as opposed to >0). Without this clarification, we would never pick up a new building or demolition.

[2020-06-26 15:41] levysamu commented on #186
If it's all the same to you, I think you should give us the manual inputs table to confirm that we have the same version that you are using. I would hate to have any confusion on that front.

[2020-06-26 15:50] kschmidtDCP commented on #186
@AmandaDoyle @mgraber @SPTKL Tables 1b and 2b (csv for records without a geometry) should be unnecessary. Records without a geometry will be captured in the QAQC table, and 100% geocoded by HED. Therefore, the final output should never include records without a geometry.

[2020-06-26 16:03] levysamu commented on #203
I think that won't work since resid_flag will never be NULL if there are any units in classa, classb, or hotel.

What we are trying to do is flag buildings that have units in them (so resid_flag <> NULL), but the occupancy is not being assigned as residential. This is because, typically speaking, when a building is residential that is what is assigned as the occupancy code (probably since I assume

[2020-06-26 17:13] kschmidtDCP opened #204 "20Q2 - Tweaks to aggregate tables"
- [x] Please rename the following fields in aggregate tables:
IncmpFiled -> filed
IncmpPrgrs -> approved
IncmpPrmtd -> permitted
IncmpWtdrn -> withdrawn
councildist -> councildst
comunitydist -> commntydst

- [x] #210 Please also include full borough names in the boro field rather than boro code.

- [x] #211 Drop the boro field from the city council district table. CC districts cross borough bound

[2020-06-26 17:17] AmandaDoyle opened #205 "20Q2 - update job_status logic"
For 4. Partially - Completed Construction  logic should be
when it's a NB or **A1** and the CO is a Temporary CO AND (less than 80% of the units are completed for a building with 20 or more units ~~OR 5 or more units have been completed for a building with between 5 and 19 proposed units~~ THEN 4. Partially - Completed Construction

[2020-06-26 17:19] AmandaDoyle opened #206 "20Q2 - update classa_init and classa_prop logic"
# Update:
https://github.com/NYCPlanning/db-developments/blob/4c5efdafe91ae2a25ebf224194d204f85801eb20/developments_build/sql/_init.sql#L140-L148

[2020-06-26 17:19] AmandaDoyle opened #207 "20Q2 - update classa_complt logic"
Add in this logic
If latest CO value exceeds class A net then take class A net value

[2020-06-26 17:36] SPTKL commented on #206
@AmandaDoyle

the current logic:
https://github.com/NYCPlanning/db-developments/blob/273be820ef19f8742d0f97232f99626037df13dc/developments_build/sql/_units.sql#L103-L112

is doing the reverse, it's saying
if value is 0, then set to null.

So should we just take `existingdwellingunits` as classa_init and `proposeddwellingunits` as classa_prop directly from dob_jobapplications without any changes?

[2020-06-26 19:26] mgraber commented on #204
@kschmidtDCP @levysamu
Two of the field names you'd like changed are also field in the main table. Do these changes apply to both?
councildist -> councildst
comunitydist -> commntydst

[2020-06-26 19:27] mgraber opened #208 "20Q2 - Update LOOKUP_geo"
pumaname10 should contain the HED PUMA Name provided in [this table](https://nyco365.sharepoint.com/:x:/r/sites/NYCPLANNING/hed/_layouts/15/Doc.aspx?sourcedoc=%7BEA076879-65C6-4439-966D-6A774A360AA3%7D&file=lookup_puma.xlsx&action=default&mobileredirect=true&cid=8f3c515c-b9d1-4379-b582-49e7bb9293e3)

[2020-06-26 19:31] mgraber opened #210 "20Q2 - Use left join with LOOKUP_geo to create aggregate tables"
The aggregate tables should include all geographic areas, even where there is no data.
When joining, include boro name as well as boro code.

[2020-06-26 19:33] mgraber opened #211 "20Q2 - Do not group by boro for council district table"
Drop from table schema.

[2020-06-26 19:33] kschmidtDCP commented on #204
@mgraber Ah. No, we don't want the changes to apply to both, since the aggregate tables are using the 10 character max for full GIS compatibility, but the DevDB is using 13 characters and only going down to 10 characters on export to GIS.

[2020-06-26 20:42] mgraber opened #212 "20Q2 - Make LOOKUP_geo block level"
This makes left join to create aggregate tables possible, and ensures that blocks accurately nest inside tracts.

[2020-06-29 13:10] mgraber opened #213 "20Q2 - Add community district and council district to block-level LOOKUP_geo"
#212

If census blocks nest within community districts and council districts, these should get assigned by look-up table from the census block, to make sure administrative boundaries are consistent.

A lookup between census blocks and community/council districts also allows for aggregation tables over community/council districts to contain block-level census unit counts.

[2020-06-29 13:29] SPTKL commented on #183
if `housing_input_hny_job_manual` is unused, let's just remove it completely because it will be stored in the "archive" branch
everything else is safe to remove

[2020-06-29 13:40] #207 closed, assigned to nobody

[2020-06-29 13:42] #195 closed, assigned to mgraber

[2020-06-29 13:42] #206 closed, assigned to nobody

[2020-06-29 15:55] #183 closed, assigned to nobody

[2020-06-29 16:10] AmandaDoyle commented on #203
@levysamu
Does this logic sound right?
Flag records where `occ_init` or `occ_prop` do not contain `Residential`and `resid_flag` is not NULL

[2020-06-29 16:14] #205 closed, assigned to mgraber

[2020-06-29 16:19] AmandaDoyle commented on #206
@SPTKL I'm reviewing the logic in _units.sql and I do not see logic to set `_classa_init` to 0 for `New Buildings` and `_classa_prop` to 0 for `Demolition`.  These values should be set to 0 if the value is not NULL.  Please let me know if you have any questions or want to talk this through.

[2020-06-29 16:30] SPTKL commented on #206
@AmandaDoyle  they are addressed in `_init.sql`, see "update" in first thread

[2020-06-29 16:31] AmandaDoyle commented on #206
nevermind - thanks

[2020-06-29 17:05] AmandaDoyle opened #217 "20Q2: Update logic for height_prop and height_init"
[New logic](https://github.com/NYCPlanning/db-developments/wiki/20Q2-Attribute-mapping#height_init) for`height_prop` and `height_init`

height_init
Mapped from dob_jobapplications existingheight for only A1 and DM job types
'0' is replaced with NULL

height_prop
Mapped from dob_jobapplications proposedheight for only A1 and NB job types
'0' is replaced with NULL

[2020-06-29 17:14] AmandaDoyle opened #218 "20Q2: Add clause to flag_nonres function that sets nonres_flag to yes if resid_flag is null"
Add clause to flag_nonres function that sets nonres_flag to yes if resid_flag is null
Logic:
Dependent on resid_flag, job_description, occ_initial, and occ_proposed
nonresid_flag is true if
job_description has one of these keywords OR
occ_initial or occ_proposed are one of these categories OR
Resid_flag is NULL

[2020-06-29 17:36] mgraber opened #221 "20Q2 - Remove unused tables from dataloading.py"
"hpd_hny_units_by_project"
"housing_input_hny_job_manual"

[2020-06-29 17:37] #218 closed, assigned to mgraber

[2020-06-29 17:43] #217 closed, assigned to SPTKL

[2020-06-29 17:44] #201 closed, assigned to mgraber

[2020-06-29 17:44] #174 closed, assigned to SPTKL

[2020-06-29 20:36] levysamu commented on #213
We don't have this, but if you need us to create it we can. We are reaching out to Pop, but if they don't have it we will build it ourselves.

[2020-06-29 20:40] levysamu commented on #100
For the enlargment field, the logic is correct. We missed the distinction between = and <> the first time around, and thought they were all =. We do want you to change the mapped values to Horizontal and Vertical.

[2020-06-29 20:42] kschmidtDCP commented on #100
We would not like to complicate the logic for classa_complete and classa_incmpl. Instead, here's what we propose for 20Q2:
1. Delete the classa_complete and classa_incmpl fields.
2. Create a new field called units_co located after otherb_prop that is populated with the number of units from the most recent certificate of occupancy.
3. For discussion potentially for 20Q4: Adjust logic for QC check "

[2020-06-29 20:43] AmandaDoyle commented on #100
@kschmidtDCP there would be no cap on `units_co` correct?

[2020-06-29 20:45] AmandaDoyle opened #222 "20Q2 - Update values that are mapped for `enlargement`"
Update values that are mapped for `enlargement`

When horizontalenlrgmt = 'Y' AND verticalenlrgmt <> 'Y' then '**Horizontal**'
When horizontalenlrgmt <> 'Y' AND verticalenlrgmt = 'Y' then '**Vertical**'
When horizontalenlrgmt = 'Y' AND verticalenlrgmt = 'Y' then '**Horizontal and Vertical**'

[2020-06-29 20:47] AmandaDoyle opened #223 "20Q2 - Delete classa_complete and classa_incmpl and create units_co field"
- Delete the classa_complete and classa_incmpl fields.

- Create a new field called `units_co` located after `otherb_prop` that is populated with the number of units from the most recent certificate of occupancy. (`co_latest_units as units_co`)

[2020-06-29 20:47] kschmidtDCP commented on #100
That's correct. It's just a straight reporting of the CO units.
Also note that we added a third point above for discussion.

[2020-06-29 21:05] AmandaDoyle opened #224 "20Q4 - Adjust logic for QC check "units_co_prop_mismatch.""
New logic
Output CO type if job_type is NB or A1 and units_co <> units_prop. CO type should be “TCO” if the last CO was temporary, or “FCO” if the last CO was final.

[2020-06-29 21:05] AmandaDoyle commented on #100
@kschmidtDCP great - thanks.
I opened the 3rd point as an enhancement for a future version

[2020-06-29 21:19] AmandaDoyle commented on #100
Noting here:
@mgraber @kschmidtDCP @levysamu
Touched base with LS
Census blocks will not align with council districts or community districts, so we should just look to use the  council district or community district assigned to a record and not do a lookup from block to create the aggregate tables

Edit: Nevermind. PL sent a crosswalk this morning

[2020-06-30 11:42] #212 closed, assigned to mgraber

[2020-06-30 12:08] #221 closed, assigned to nobody

[2020-06-30 12:08] #222 closed, assigned to SPTKL

[2020-06-30 12:42] SPTKL commented on #223
Down stream impact:
- JOBNUMBER_co_prop_mismatch in `qaqc_mid.sql`
[code]

[2020-06-30 13:09] SPTKL commented on #224
@AmandaDoyle so they want `C -CO` -> `FCO` and `T- TCO` -> `TCO` ? Why is this even necessary?shouldn't the cert types be consistent across different tables to avoid confusion?

[2020-06-30 13:14] #120 closed, assigned to nobody

[2020-06-30 13:35] #208 closed, assigned to mgraber

[2020-06-30 13:36] #223 closed, assigned to SPTKL

[2020-06-30 13:41] #210 closed, assigned to mgraber

[2020-06-30 13:46] mgraber opened #228 "20Q2 - Fix column mapping in YEARLY_devdb"
[code]

[2020-06-30 13:46] #211 closed, assigned to mgraber

[2020-06-30 13:46] SPTKL commented on #211
#214

[2020-06-30 13:50] levysamu commented on #100
Just a flag that Pop responded with a lookup table between blocks and PUMAs, Community Districts, and Council Districts. You were copied on the email @AmandaDoyle.

[2020-06-30 13:52] mgraber opened #230 "20Q2 - Assign community and councildist in main table using lookup_geo"
#213

Otherwise, there might be records with inconsistent comm and council dist assignments between the main table and the aggregate tables

[2020-06-30 13:55] mgraber opened #231 "20Q2 - Left fill council dist number when merging for council member name"

[2020-06-30 13:57] AmandaDoyle commented on #100
@levysamu yep - I edited my comment and shared the crosswalk.

[2020-06-30 14:02] #231 closed, assigned to mgraber

[2020-06-30 14:02] #213 closed, assigned to mgraber

[2020-06-30 14:03] #228 closed, assigned to mgraber

[2020-06-30 14:08] #204 closed, assigned to mgraber

[2020-06-30 14:10] levysamu commented on #203
@AmandaDoyle, what about matching occ_init with the initial unit counts and occ_prop with the proposed unit counts? So:

- occ_init <> residential AND classa_init >0

- occ_prop <> residential AND classa_prop >0

[2020-06-30 17:01] mgraber opened #234 "20Q2 - Do not set occ_proposed to 'Empty Site' for New Buildings"
The function occ_translation yields 'Empty Site' for job_type = 'New Building'
This function gets applied to both `occ_initial` and `occ_proposed`.

There should either be two different functions, or the overwriting of `occ_initial` for New Buildings should happen after the translation.

[2020-06-30 18:17] #203 closed, assigned to mgraber

[2020-06-30 19:08] #234 closed, assigned to mgraber

[2020-06-30 19:09] #230 closed, assigned to mgraber

[2020-06-30 21:53] AmandaDoyle commented on #224
@levysamu do you really need us to map  `C -CO` -> `FCO` and `T- TCO` -> `TCO`.  We recommend just outputting `C -CO` and `T- TCO so that certificate types are consistent across tables.

[2020-07-01 12:09] #173 closed, assigned to SPTKL

[2020-07-01 13:51] levysamu commented on #224
We do not need you to convert C - CO to FCO or T - TCO to TCO. This was born of ignorance about what the original format was. Sorry for the confusion.

[2020-07-01 13:54] #224 closed, assigned to SPTKL

[2020-07-01 16:48] AmandaDoyle opened #238 "20Q2 - review of FINAL_devdb"
- Job numbers are unique.  229,976 distinct job numbers for 229,976 jobs
- Three job_types are correct
- resid_flag, nonres_flag look good
- [x] job_inactive - question: In cases where a job has a non-null date complete should it be withdrawn, thus also inactive? #239 **need to dive back into**
- job_status looks good
- complete_year is good
- complete_qrtr is good
- permit_year is good
- permit_q

[2020-07-01 16:49] AmandaDoyle opened #239 "20Q2 - All jobs with a status of 9. Withdrawn should be flagged as inactive"
There are 100 jobs with a status of 9. Withdrawn but are not flagged as inactive. All jobs with a status of 9. Withdrawn should be flagged as inactive

[2020-07-01 16:59] mgraber commented on #239
@AmandaDoyle In cases where a job has a non-null date complete and is also listed as withdrawn, should it be inactive?

[2020-07-01 18:24] mgraber commented on #238
Job number duplicates are all cases where dob_jobapplications has two 01 records -- one is a later status and has more status dates than the other.

[2020-07-07 13:15] #186 closed, assigned to SPTKL

[2020-07-08 17:19] AmandaDoyle opened #243 "20Q2 - review of aggregate tables"
- aggregate_block looks good
- aggregate_commntydst: boro and community district appear to be out of sync, for example community districts 207, 208, 302, 306 have 2 entries.  One for the correct boro and the second for Manhattan
- aggregate_councildst looks good
- aggregate_nta is good
- aggregate_puma is good
- aggregate_tract is good

[2020-07-08 22:54] levysamu commented on #100
1. I am uncomfortable with the idea of converting NULLs to 0s. I sent an email just now asking Hannah if there is room to change the symbology to allow for the inclusion of NULLs without turning them into 0s.
2. I am struggling to imagine a scenario where a withdrawn job has received a certificate of occupancy. Is the scenario you are describing for demolitions, A1s, or NBs? Can you send a few exa

[2020-07-09 15:38] mgraber opened #247 "20Q2 - Backfill boro in _geo.sql"
We need this filled to join with lookup_geo in spatial.sql. We also need it in final.sql to get bctcb2010 and bct2010. Move the coalesce upstream, probably to [here](https://github.com/NYCPlanning/db-developments/blob/f02b8167cfc797ef7970bffaa40c1f922be68eac/developments_build/sql/_geo.sql#L83)

[2020-07-09 17:42] #247 closed, assigned to mgraber

[2020-07-09 17:42] #239 closed, assigned to nobody

[2020-07-09 17:42] #243 closed, assigned to mgraber

[2020-07-10 14:06] AmandaDoyle opened #253 "20Q2: Rename "field" values in housing_input_research to match new field names so changes get applied"
## Rename "field" values in housing_input_research to match new field names so changes get applied.

### Delete
- [x] unit_change_2012 --> delete these
- [x] unit_change_2016 --> delete these
- [x] unit_change_2017 --> delete these
- [x] unit_change_postapr2010 --> delete these
- [x] unit_change_preapr2010 --> delete these
- [x] unit_change_2018 --> delete these
- [x] unit_change_2013 --> delete t

[2020-07-10 14:15] SPTKL commented on #253
all field names should be by default lowercase in housing_input_research

[2020-07-10 18:13] mgraber commented on #253
Draft logic:
[code]

[2020-07-10 19:27] #238 closed, assigned to nobody

[2020-07-10 21:10] AmandaDoyle opened #256 "Add version.txt file to download package"
Create and add version.txt file to download package

[2020-07-13 15:00] AmandaDoyle opened #257 "20Q2 - Questions from HED to DE"
# Questions 2020/07/13 - 2020/07/17

- [ ] Occ_prop is blank for demolitions, but it should be populated with "Empty Site" like occ_init is for new buildings.

- [x] The units_res_accessory flag is catching a lot of records that have the letters GAR in the address field (TrafalGAR, Marcus GARvey, etc). Instead of searching the Address field, you should search the address_numbr field.

- [x] z_inco

[2020-07-13 15:21] #253 closed, assigned to nobody

[2020-07-13 18:42] mgraber opened #260 "20Q2 - Update b_likely_occ_desc keywords"
For the dormitories, we are finding that just using "dorm" is catching dormers:

REMOVE "dorm"

ADD "dorm "; "dorms "; "dormitor"

We also noticed that there are some additional weird ways that people are calling out class b units (they just put single or double quotes around the b):

ADD "class 'b'"; "class "b""

[2020-07-14 13:10] mgraber opened #261 "20Q2 - When creating _MID_devdb, take classa_init and classa_prop from UNITS_devdb"
In _mid.sql, the first join table combines all columns from INIT_devdb with STATUS_Q_devdb. INIT_devdb contains `classa_init` and `classa_prop`. This means that when we eventually join columns from UNITS_devdb, only `classa_net` gets appended. Corrections to `classa_init` and `classa_prop` are correctly applied in UNITS_devdb. These corrections happen after creating INIT_devdb, however, so we are